{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/formsDetalhes.css' %}">
    <link rel="stylesheet" href="{% static 'css/radioButton.css' %}">

{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    {%if cadastro_completo %}
    <div class="modal fade" id="cadastro-evento-complete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if sucesso %}
                        <h1>Cadastro concluído! </h1><br>
                        <p style="text-align: justify; float:right">Novo patrocinador cadastrado com sucesso.</p>
                        <br/>
                        <br/>
                        <input type="submit" onclick="window.location.href='../'" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Voltar aos Patrocinadores">
                    {% else %}
                        <h1>Erro ao cadastrar patrocinador</h1><br>
                        <p style="text-align: justify; float:right">Ocorreu um erro ao cadastrar o patrocinador. Certifique-se de que preencheu corretamente todos os campos.</p>
                        <br/>
                        <br/>
                        <input type="submit" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Ok">
                    {% endif %}
				</div>
          </div>
    </div>
    {% endif %}
	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Patrocinadores</h2>
                    <hr class="star-light">
                    <h3>{{evento.sigla}}</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'lista_patrocinadores' id_evento=evento.id %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>
	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Novo patrocinador</h1>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                    <form action=" {% url 'adicionar_patrocinador' id_evento=evento.id %}" method="post" role="form" data-toggle="validator">
                        <p> Por favor, insira os dados de seu patrocinador, esses dados serão exibidos na página de patrocinadores do aplicativo.</p>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class='control-label' for="nome">Nome <span style="color:red">*</span></label>
                            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome do patrocinador" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="url">Link do Site</label>
                            <input type="text" class="form-control" name="url" id="url" placeholder="http://www.sitedopatrocinador.com" data-match-error="Preencha este campo" >
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="urlimagem">Link da Imagem <span style="color:red">*</span></label>
                            <input type="text" class="form-control" name="urlimagem" id="urlimagem" placeholder="http://www.sitedopatrocinador.com/logo.png" required>
                        </div>
                        <!--<div class="form-group">
                                <label for="prioridade">Prioridade <span style="color:red">*</span></label>
                                <input type="number" class="form-control" name="prioridade" id="prioridade" min='0' placeholder="Prioridade de exibição" style="width: 20%" required>
                                <p>Os patrocinadores serão exibidos tanto no site quanto no app em ordem decrescente de prioridade, do maior para o menor.</p><br>
                            </div>-->
                        <div class="form-group">
                            <fieldset id="prioridade">
                                <label for="prioridade"> Prioridade <span style="color:red">*</span></label>
                                <br/>
                                <label class="container_radioButton">Diamante
                                    <input type="radio" checked name="prioridade" value="0">
                                    <span class="checkmarkRadioButton"></span>
                                </label>
                                <label class="container_radioButton">Ouro
                                    <input type="radio" name="prioridade" value="1">
                                    <span class="checkmarkRadioButton"></span>
                                </label>
                                <label class="container_radioButton">Prata
                                    <input type="radio" name="prioridade" value="2">
                                    <span class="checkmarkRadioButton"></span>
                                </label>
                                <label class="container_radioButton">Bronze
                                    <input type="radio" name="prioridade" value="3">
                                    <span class="checkmarkRadioButton"></span>
                                </label>
                            </fieldset>
                            <p>Os patrocinadores serão exibidos tanto no site quanto no app em ordem decrescente de prioridade, do maior para o menor.</p><br>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group ">
                            <!--<input type="submit" name="login" class="login loginmodal-submit" value="Cadastrar">-->
                            <button type="submit" id="botao_register" class="btn login loginmodal-submit">Cadastrar</button>
                        </div>
                        <!--div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out
                            </label>
                        </div>-->
                    </form>
				</div>
			</div>
		</div>
	</section>


</body>
{% endblock %}

{% block footer_imports %}
    {% if cadastro_completo %}
        <script>
                $(document).ready(function () {
                    //your code here
                  $(window).on('load', function () {
                      setTimeout(function() {
                             //your code to be executed after 200 msecond
                             $('#cadastro-evento-complete-modal').modal({
                                 backdrop: 'true'//to disable click close
                              })
                              $('body').css('overflow-y','visible');
                          }, 400);
                          $('body').css('overflow-y','visible');
                  })

                  $("#cadastro-evento-complete-modal").on('hidden.bs.modal', function () {
                      $('body').css('overflow-y','');
                      {% if sucesso %}window.location.href='../';{% endif %}
                      //document.body.removeAttribute("style");
                  })

                  });
        </script>
    {% endif %}

{% endblock %}
