{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchButton.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<body id="page-top" class="index">
    <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
        <section id="portfolio" class="control_panel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Eventos cadastrados no sistema!</h2>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section>
        <div class="container" style="margin-bottom: -50px; margin-top: -2%">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <a href="{% url 'administracao' %}">
                        <h3 style="margin-left: -2.5%;">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span>Voltar &nbsp</span>
                            <a href="{% url 'todos_eventos_pesquisa' %}">
                                <span title="Atualizar" class="glyphicon glyphicon-refresh" style="font-size:1.0em;"></span>
                            </a>
                        </h3>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <form class="searchButton" action="" method="GET" role="form" data-toggle="validator" style="margin:auto;max-width:90%; margin-left: -4%;">
                            <input type="text" placeholder = "Digite o nome do evento, sigla, ou fração..." value="{{request.GET.pesquisa}}" name="pesquisa" id="pesquisa" maxlength="20" data-match-error="Preencha este campo" style="margin-bottom: -50%; width: 100%;" required>
                            <div class="help-block with-errors"></div>
                            <button type="submit" style=" margin-left: 100%;"><i class="fa fa-search"></i></button>
                    </form>
                <div>
            </div>
        </div>
    </section>

    <section>
        <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
            <div class="container" style="margin-bottom: -50px; margin-top: -1%;">
                <div class="row">
                    <div class="well">
                        {% if qtdBusca == 1 %}
                        <p> {{ qtdBusca }} resultado encontrado </p>
                        {% elif qtdBusca == 0%}
                        <p> Nenhum resultado encontrado </p>
                        {% else %}
                        <p> {{ qtdBusca }} resultados encontrados </p>
                        {% endif%}
                    </div>
            </div>
        </div>
    </section>


    {% if listaEventos %}
        <section>


            <div name="target" class="container" style="margin-top: -1%;">
                <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">

                    <div class="col-md-2 col-sm-2"></div>
                        <div class="col-md-8 col-sm-8 col-xs-12" style="padding-top:10px">

                        {% if not vazio %}

                            <ul class="event-list">
                                {% for eve in listaEventos %}

                                    {%for p in eve.eventos%}

                                        <li " {% if p.privacidade == 3%} style='pointer-events:none; opacity:0.7;' {% endif %}" id="liTop" onclick="location.href='/administracao/eventos/evento/{{p.id}}/'"><!---->
                                            <time>
                                                <span class="day"> {{p.data_inicio|date:"j"}}</span>
                                                <span class="month"> {{ p.data_inicio|date:"M" }}</span>
                                                <span class="year">{{ p.data_inicio|date:"Y" }} </span>
                                            </time>
                                            <img alt="{{p.nome}}" src="{{p.urllogo}}" />
                                            <div class="info">
                                                <h2 class="title"> {{p.sigla}}</h2>
                                                <p class="desc">{{p.nome}}</p>
                                                <ul>
                                                    {% if p.privacidade == 3%}
                                                        <li><p><font size="4"><b>Conteúdo privado</b></font></p></li>
                                                        <li><span class="glyphicon glyphicon-lock" style="color: #18bc9c"></span></li>
                                                    {% else %}
                                                        <li style="width:33%;"><a href="{% url 'detalhe_evento_adm' id_evento=p.id%}"><span class="fa fa-globe"></span> Acessar</a></li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                        </li>

                                    {% endfor %}


                                {% endfor%}
                            </ul>


                            {% if eventos.has_other_pages %}
                                <ul class="pagination">
                            {% if eventos.has_previous %}
                                <li><a href="?page={{ eventos.previous_page_number }}{%if request.GET.pesquisa %}&pesquisa={{request.GET.pesquisa|urlencode}}{% endif %}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in eventos.paginator.page_range %}
                                {% if eventos.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}{%if request.GET.pesquisa %}&pesquisa={{request.GET.pesquisa|urlencode}}{% endif %}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if eventos.has_next %}
                                <li><a href="?page={{ eventos.next_page_number }}{%if request.GET.pesquisa %}&pesquisa={{request.GET.pesquisa|urlencode}}{% endif %}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                                </ul>
                            {% endif %}



                        {% endif %}
                        </div>
                </div>
            </div>


        </section>
    {% else %}
    </br>
    {% endif %}


</body>
{% endblock %}
