{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/checkBox.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkBoxPublicados.css' %}">
    <script type="text/javascript" src="{% static 'js/relatorioEvento.js' %}"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<body id="page-top" class="index">
    <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
        <section id="portfolio" class="control_panel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Selecione os eventos que deseja retirar do app!</h2>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section>
        <div class="container" style="margin-bottom: -50px; margin-top: -2%">
            <div class="row">
                <a href="{% url 'administracao' %}">
                    <h3>
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        <span>Voltar &nbsp</span>
                        <span>
                            <a href="{% url 'publicado_app' %}">
                                <span title="Atualizar" class="glyphicon glyphicon-refresh" style="font-size:1.0em;"></span>
                            </a>
                        </span>
                    </h3>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
            <div class="container" style="margin-bottom: -50px; margin-top: -1%;">
                <div class="row">
                    <div class="well">
                        {% if qtdBusca == 1 %}
                        <p> {{ qtdBusca }} evento encontrado </p>
                        {% elif qtdBusca == 0%}
                        <p> Nenhum evento encontrado </p>
                        {% else %}
                        <p> {{ qtdBusca }} eventos encontrados </p>
                        {% endif%}
                    </div>
            </div>
        </div>
    </section>


    {% if lista_eventos_ativos %}
        <section>

            <div class="container">
                <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                    <div class="col-md-12">

                        <form action="" method="POST">
                            {% csrf_token %}

                            <div style="margin-left: 5%; margin-top: 1.5%;" id="quest">

                                <div style="margin-top: -0.5%;">

                                    <label class="checkBox" style="font-size: 20px;">Selecionar todos
                                        <input type="checkbox" name="checkboxPublicados" value="-1" onclick="marcarCheckboxs('checkboxPublicados')">
                                        <span class="checkmarkCheckBoxPublicados"></span>
                                    </label>
                                    {% for eve in lista_eventos_ativos %}
                                    <label class="checkBox" style="font-size: 20px;">{{eve.nome}} | {{eve.data_inicio}} - {{eve.data_fim}}
                                        <input onclick="habilitaBotao()" type="checkbox" name="checkboxPublicados" value="{{eve.id}}">
                                        <span class="checkmarkCheckBoxPublicados"></span>
                                    </label>
                                    {% endfor %}


                                </div>
                            </div>


                            <div class="form-group" >
                              <button type="submit" id="botao_relatorio" class="btn login loginmodal-submit">Confirmar remoção</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>


        </section>
    {% else %}
    </br>
    {% endif %}


</body>
{% endblock %}
