{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/star-rating.css' %}">
    <script src="{%static 'js/star-rating.js'%}"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <style>
        .indent {
            text-indent: 5%;
            text-align: justify;
            margin-bottom: 20px;
        }

    </style>
{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>


	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Notas das Atividades</h2>
                    <hr class="star-light">
                    <h3>{{evento.sigla}}</h3>
                </div>
            </div>
        </div>
    </section>

    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'detalhe_evento' id_evento=evento.id %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>

    <section>
            <div class="container">
                <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                    <div class="col-md-12">
                        <h1> Observação</h1>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12">
                        <div class="col-md-12 col-sm-12 indent">
                            <div>
                                <p> As notas de avaliação sonora e térmica funcionam diferente da nota de avaliação. Para a nota de avaliação, quanto maior melhor.
                                    Contudo para a nota sonora, quanto mais baixo, mais baixo estava o volume da atividade, quanto mais alto, mais alto estava o volume no local. O mesmo funciona para a nota
                                    térmica, sendo respectivamente para frio e quente, ou seja, quanto mais próximo a nota sonora e térmica estiver de 3, melhor será.
                                </p>
                            </div>
                            <div>
                                <p> O painel é atualizado toda vez que esta página é acessada, permitindo assim acompanhar em tempo real. Atualize a página caso queira atualizar os valores.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <section id="portfolio" style="padding-top: -20px;">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
                    <h1>Atividades em Andamento</h1>
                </div>
                <div class="col-md-12 col-xs-12 col-lg-12">
                    {% if notas_atividades_atuais %}
                        {% for ativ in notas_atividades_atuais %}
                            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 questionario well">
                                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                    <p style="font-weight: bold;">{{ativ.nome}}</p>
                                </div>
                                <div class="col-md-12" style="margin-bottom: 20px;">
                                        <span style="margin-bottom: 20px;"></span>
                                    </div>
                                <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                                    <p><b>Avaliação</b></p>
                                    <input id="nota" name="nota" type="number" value="{{ativ.nota|stringformat:'F'}}" class="rating"
                                    data-display-only="True">
                                    <p>Nota:{{ativ.nota|floatformat:2}}</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                                    <p><b>Térmico</b></p>
                                    <input id="nota_term" name="nota_term" type="number" value="{{ativ.nota_term|stringformat:'F'}}" class="rating"
                                    data-empty-star="<i class='fas fa-thermometer-empty'></i>"
                                    data-filled-star="<i class='fas fa-thermometer-full'></i>"
                                    data-display-only="True">
                                    <p>Nota: {{ativ.nota_term|floatformat:2}}</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                                    <p><b>Sonoro</b></p>
                                    <input id="nota_som" name="nota_som" type="number" value="{{ativ.nota_som|stringformat:'F'}}" class="rating"
                                    data-empty-star="<i class='fas fa-volume-up'></i>"
                                    data-filled-star="<i class='fas fa-volume-up'></i>"
                                    data-display-only="True"
                                    value="{{ativ.nota_som}}">
                                    <p>Nota: {{ativ.nota_som|floatformat:2}}</p>
                                </div>
                                <div class="col-md-12" style="margin-bottom: 20px;">
                                    <span style="margin-bottom: 20px;"></span>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="text-align: center">
                        <div class="questionario well" style="margin:20px; text-align:center">
                            <p>Nenhuma atividade em andamento</p>
                        </div>
                    </div>

                    {% endif%}
                </div>
			</div>
		</div>
    </section>

    <section id="portfolio">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
					<h1> Últimas Opiniões </h1>
				</div>
                <div class="col-md-12 col-xs-12 col-lg-12">
                    {% if not vazio %}
                        <table class="table table-striped">
                            <tbody>
                            {% for opi in opinioes%}

                                <tr>
                                    <td>{{opi.opiniao}}</td>
                                </tr>

                            {%endfor%}
                            </tbody>
                        </table>
                    {% else%}
                        <div class="questionario well" style="margin:20px; text-align:center">
                            <p>Nenhuma opinião recebida</p>
                        </div>
                    {% endif %}

                </div>


			</div>
		</div>
	</section>

</body>


{% endblock %}
