{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/star-rating.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabelas.css' %}">
    <script src="{%static 'js/star-rating.js'%}"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <style>
        .indent {
            text-indent: 5%;
            text-align: justify;
            margin-bottom: 20px;
        }

    </style>
{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>


	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Notas das Atividades</h2>
                    <hr class="star-light">
                    <h3>{{evento.sigla}}</h3>
                </div>
            </div>
        </div>
    </section>

    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'detalhe_evento' id_evento=evento.id %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>

    <section>
            <div class="container">
                <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                    <div class="col-md-12">
                        <h1> Observação</h1>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12">
                        <div class="col-md-12 col-sm-12 indent">
                            <div>
                                <p> As notas de avaliação sonora e térmica funcionam diferente da nota de avaliação. Para a nota de avaliação, quanto maior melhor.
                                    Contudo para a nota sonora, quanto mais baixo, mais baixo estava o volume da atividade, quanto mais alto, mais alto estava o volume no local. O mesmo funciona para a nota
                                    térmica, sendo respectivamente para frio e quente, ou seja, quanto mais próximo a nota sonora e térmica estiver de 3, melhor será.
                                </p>
                            </div>
                            <div>
                                <p> O painel é atualizado toda vez que esta página é acessada, permitindo assim acompanhar em tempo real. Atualize a página caso queira atualizar os valores.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                    <div class="col-md-12">

                        <div class="tab-content">
                            <div id="estatisticas" class="tab-pane fade in active">
                                <table style="margin-top: 2%" id="menu1" class="tablePersonalizada">
                                        <tr>
                                            <th colspan="4"><div style="text-align: center"><p><font size=4>ESTATÍSTICAS</font></p></div></th>
                                        </tr>
                                        <tr>
                                                <td colspan="4"><div style="text-align: center"><p><b>Submissões</b></p></div></td>
                                        </tr>
                                        <tr>
                                            <td><div style="text-align: center"><p>Notas atividades</p></div></td>
                                            <td><div style="text-align: center"><p>Térmica</p></div></td>
                                            <td><div style="text-align: center"><p>Sonoro</p></div></td>
                                            <td><div style="text-align: center"><p>Total</p></div></td>

                                        </tr>
                                        <tr>
                                            <td ><div style="text-align: center"><p>{{qtdNotaAtividade}}</p></div></td>
                                            <td ><div style="text-align: center"><p>{{qtdNotaTermica}}</p></div></td>
                                            <td ><div style="text-align: center"><p>{{qtdNotaSonora}}</p></div></td>
                                            <td ><div style="text-align: center"><p>{{numSubmissoes}}</p></div></td>

                                        </tr>
                                        <tr>
                                            <td colspan="3"><div ><p>Participantes cadastrados no evento:</p></div></td>
                                            <td><div style="text-align: center"><p>{{numParticipantesAvaliacao}}</p></div></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><div ><p>Média de submissões por participantes:</p></div></td>
                                            <td><div style="text-align: center"><p>{{mediaSubmissoes|floatformat:2}}</p></div></td>
                                        </tr>
                                    </table>
                                </br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio">
            <div class="container" style="padding-top: -20px;">
                <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                    <div class="col-md-12">
                        <h1> Média do evento </h1>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 questionario well">
                        <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                            <p><b>Avaliação</b></p>
                            <input id="nota" name="nota" type="number" value="{{mediaAtividade|stringformat:'F'}}" class="rating"
                            data-display-only="True">
                            <p>Nota:{{mediaAtividade|floatformat:2}}</p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                            <p><b>Térmico</b></p>
                            <input id="nota_term" name="nota_term" type="number" value="{{mediaTermica|stringformat:'F'}}" class="rating"
                            data-empty-star="<i class='fas fa-thermometer-empty'></i>"
                            data-filled-star="<i class='fas fa-thermometer-full'></i>"
                            data-display-only="True">
                            <p>Nota: {{mediaTermica|floatformat:2}}</p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                            <p><b>Sonoro</b></p>
                            <input id="nota_som" name="nota_som" type="number" value="{{mediaSonora|stringformat:'F'}}" class="rating"
                            data-empty-star="<i class='fas fa-volume-up'></i>"
                            data-filled-star="<i class='fas fa-volume-up'></i>"
                            data-display-only="True"
                            value="{{mediaSonora}}">
                            <p>Nota: {{mediaSonora|floatformat:2}}</p>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 20px;">
                            <span style="margin-bottom: 20px;"></span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>

    <section id="portfolio" style="padding-top: -20px;">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
                    <h1>Atividades em Andamento</h1>
                </div>
                <div class="col-md-12 col-xs-12 col-lg-12">
                    {% if notas_atividades_atuais %}
                        {% for ativ in notas_atividades_atuais %}
                            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 questionario well">
                                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                    <p style="font-weight: bold;">{{ativ.nome}}</p>
                                </div>
                                <div class="col-md-12" style="margin-bottom: 20px;">
                                        <span style="margin-bottom: 20px;"></span>
                                    </div>
                                <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                                    <p><b>Avaliação</b></p>
                                    <input id="nota" name="nota" type="number" value="{{ativ.nota|stringformat:'F'}}" class="rating"
                                    data-display-only="True">
                                    <p>Nota:{{ativ.nota|floatformat:2}}</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                                    <p><b>Térmico</b></p>
                                    <input id="nota_term" name="nota_term" type="number" value="{{ativ.nota_term|stringformat:'F'}}" class="rating"
                                    data-empty-star="<i class='fas fa-thermometer-empty'></i>"
                                    data-filled-star="<i class='fas fa-thermometer-full'></i>"
                                    data-display-only="True">
                                    <p>Nota: {{ativ.nota_term|floatformat:2}}</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                                    <p><b>Sonoro</b></p>
                                    <input id="nota_som" name="nota_som" type="number" value="{{ativ.nota_som|stringformat:'F'}}" class="rating"
                                    data-empty-star="<i class='fas fa-volume-up'></i>"
                                    data-filled-star="<i class='fas fa-volume-up'></i>"
                                    data-display-only="True"
                                    value="{{ativ.nota_som}}">
                                    <p>Nota: {{ativ.nota_som|floatformat:2}}</p>
                                </div>
                                <div class="col-md-12" style="margin-bottom: 20px;">
                                    <span style="margin-bottom: 20px;"></span>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="text-align: center">
                        <div class="questionario well" style="margin:20px; text-align:center">
                            <p>Nenhuma atividade em andamento</p>
                        </div>
                    </div>

                    {% endif%}
                </div>
			</div>
		</div>
    </section>

    <section id="portfolio">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
					<h1> Todas Atividades </h1>
				</div>
                <div class="col-md-12 col-xs-12 col-lg-12">
                {% for data_ativ in lista_data_ativ %}
                <h3>{{ data_ativ.data }}</h3>
                {% for ativ in data_ativ.atividades %}
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 questionario well">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                        <p style="font-weight: bold;">{{ativ.nome}}</p>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 20px;">
                            <span style="margin-bottom: 20px;"></span>
                        </div>
                    <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                        <p><b>Avaliação</b></p>
                        <input id="nota" name="nota" type="number" value="{{ativ.nota|stringformat:'F'}}" class="rating"
                        data-display-only="True">
                        <p>Nota:{{ativ.nota|floatformat:2}}</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                        <p><b>Térmico</b></p>
                        <input id="nota_term" name="nota_term" type="number" value="{{ativ.nota_term|stringformat:'F'}}" class="rating"
                        data-empty-star="<i class='fas fa-thermometer-empty'></i>"
                        data-filled-star="<i class='fas fa-thermometer-full'></i>"
                        data-display-only="True">
                        <p>Nota: {{ativ.nota_term|floatformat:2}}</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                        <p><b>Sonoro</b></p>
                        <input id="nota_som" name="nota_som" type="number" value="{{ativ.nota_som|stringformat:'F'}}" class="rating"
                        data-empty-star="<i class='fas fa-volume-up'></i>"
                        data-filled-star="<i class='fas fa-volume-up'></i>"
                        data-display-only="True"
                        value="{{ativ.nota_som}}">
                        <p>Nota: {{ativ.nota_som|floatformat:2}}</p>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 20px;">
                        <span style="margin-bottom: 20px;"></span>
                    </div>
                </div>

                {% endfor %}
                {% endfor %}
                {% if atividades.has_other_pages %}
                    <ul class="pagination">
                    {% if atividades.has_previous %}
                        <li><a href="?page={{ atividades.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in atividades.paginator.page_range %}
                        {% if atividades.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if atividades.has_next %}
                        <li><a href="?page={{ atividades.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                    </ul>
                {% endif %}
                </div>


			</div>
		</div>
	</section>

</body>


{% endblock %}
