.checkBox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmarkCheckBoxPublicados {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkBox:hover input ~ .checkmarkCheckBoxPublicados {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBox input:checked ~ .checkmarkCheckBoxPublicados {
    background-color: #2196F3;
}

/* Create the checkmarkCheckBoxPublicados/indicator (hidden when not checked) */
.checkmarkCheckBoxPublicados:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmarkCheckBoxPublicados when checked */
.checkBox input:checked ~ .checkmarkCheckBoxPublicados:after {
    display: block;
}

/* Style the checkmarkCheckBoxPublicados/indicator */
.checkBox .checkmarkCheckBoxPublicados:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
