.questions{
    width: 100%;
}

.questions__divisor{
    border-color: #c4c4c4;
    width: 90%;
    opacity: 0.2;
}

.question{
    padding-top: 25px;
    padding-bottom: 25px;
    /*border-bottom: 1px solid #c4c4c4;*/
}

.pergunta{
    border-left: 5px solid #009BDB;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.pergunta__title{
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 4px;
}

.pergunta__text{
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    display: block;
    margin-left: 4px;
}

.respostas{
    width: 65%;
    margin: 0 auto;
}

.respostas__title{
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    margin-bottom: 10px;
    border-left: 5px solid #009BDB;
    padding-left: 4px;
    margin-left: 2px;
}

.respostas__resposta{
    width: 100%;
    margin-bottom: 10px;
}

.respostas__resposta__title{
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    font-weight: 500;
    padding-left: 2px;
}

.respostas__resposta__graph{
    background: rgba(216, 217, 221, 0.7);
    width: 100%;
    position: relative;
    padding: 2px;
    border-radius: 10em;
    margin-bottom: -3px;
}

.respostas__resposta__graph__bar{
    background: #009BDB;
    width: 100%;
    height: 20px;
    position: relative;
    border-radius: 10em;
}

.respostas__resposta__graph__count{
    position: absolute;
    top: 20%;
    right: -40px;
    height: 15px;
    color: #262626;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: 600;
}

.pergunta2{
    border-left: 5px solid #009BDB;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
}