/* The container */
.container_radioButton {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container_radioButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmarkRadioButton {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container_radioButton:hover input ~ .checkmarkRadioButton {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container_radioButton input:checked ~ .checkmarkRadioButton {
    background-color: #2196F3; /* #253B96 */
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkRadioButton:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_radioButton input:checked ~ .checkmarkRadioButton:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container_radioButton .checkmarkRadioButton:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
