.slidecontainer {
    width: 45%;
}

.sliderWC {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderWC:hover {
    opacity: 1;
}

.sliderWC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #18BC9C;
    cursor: pointer;
}

.sliderWC::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #18BC9C;
    cursor: pointer;
}
