* {
    box-sizing: border-box;
}

form.searchButton input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    background: #f1f1f1;
}

form.searchButton button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.searchButton button:hover {
    background: #0b7dda;
}

form.searchButton::after {
    content: "";
    clear: both;
    display: table;
}