div#sentimentos-evento {
	background-color: rgb(0,0,255);
	margin: 0 auto;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(255,215,0);
	text-align: center;
}

h3#sentimento-titulo{
	color: rgb(255,255,0);
}

b#Neutro {
	color: rgb(54,54,54);
	font-size: 30px;
}

b#Positivo {
	color: 	rgb(0,255,0);
	font-size: 30px;
}

b#Negativo {
	color: 	rgb(255,0,0);
	font-size: 30px;
}

b#sentimento-indisponivel {
	color: 	rgb(245,255,250);
	font-size: 30px;
}


img#shadow{
	width: 20%;
}

img#sonic{
	width: 20%;
}

ul#lista-sentimentos{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	list-style: none;
}

li#quant-positivo{
	color: 	rgb(0,255,0);
}

li#quant-negativo{
	color: 	rgb(255,0,0);
}

li#quant-neutro{
	color: rgb(54,54,54);
}