.tablePersonalizada {
    font-family: arial, sans-serif;
    font-size: 110%;
    border-collapse: collapse;
    width: 45%;
    color: #05226F;
    margin: auto;
}

.tablePersonalizada td, th{
    border: 1px solid #2e2b2b17;
    text-align: left;
    padding: 16px;
}

.tablePersonalizada tr:nth-child(even) {
    background-color: #d3ffd9;
}

.tablePersonalizada p{
    /*font-family: 'Times New Roman', Times, serif;*/
    font-size: 105% !important;
}

.tablePersonalizada td{
    padding: 5px;
}

.tablePersonalizada th{
    padding: 5px;
}

@media print {
    .tablePersonalizada {
        font-family: arial, sans-serif !important; 
        font-size: 110% !important; 
        border-collapse: collapse !important; 
        width: 45% !important; 
        color: #05226F !important; 
        -webkit-print-color-adjust: exact;
        margin: auto !important; 
    }
    
    .tablePersonalizada td, th{
        border: 1px solid #2e2b2b17 !important;
        -webkit-print-color-adjust: exact;
        text-align: left !important;
        padding: 16px !important;
    }
    
    .tablePersonalizada tr:nth-child(even) {
        background-color: #d3ffd9 !important;
        -webkit-print-color-adjust: exact;
    }
    
    .tablePersonalizada p{
        /*font-family: 'Times New Roman', Times, serif;*/
        font-size: 105% !important;
        color: #05226F !important; 
        -webkit-print-color-adjust: exact;
    }
    
    .tablePersonalizada td{
        padding: 5px !important;
    }
    
    .tablePersonalizada th{
        padding: 5px !important;
    }
    
}