{% extends 'header.html' %}
{% load staticfiles %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>


	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Notícia</h2>
                    <hr class="star-light">
                    <h3>{{ evento.sigla }}</h3>
                </div>
            </div>
        </div>
    </section>

    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'lista_noticias' id_evento=evento.id %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>

	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Notícia</h1>
				</div>
                <div class="col-md-12 col-sm-12">
                    <div class="d-inline">
                        <h3>Título: </h3>
                        <p>{{noticia.titulo}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline">
                        <h3>Data: </h3>
                        <p>{{noticia.hora|date:"j"}} {{ noticia.hora|date:"M" }} {{ noticia.hora|date:"Y" }}  </p>
                        <h3>   Hora: </h3>
                        <p>{{noticia.hora|date:"H:i"}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline" style="text-align:justify;">
                        <h3>Corpo: </h3> <p>{{noticia.corpo}}</p>
                        <br/><br/>
                    </div>
				</div>
			</div>
		</div>
    </section>

    <section id="portfolio" style="padding-top: -20px;">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
					<h1> Ações</h1>
				</div>
                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
				    <a href="{% url 'editar_noticia' id_evento=evento.id id_noticia=noticia.id_noticia %}" class="btn btn-primary a-btn-slide-text btn-lg btn-block">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        <span><strong>Editar</strong></span>
                    </a>
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                    <a href="#" data-toggle="modal" data-target="#deletar-modal" class="btn btn-primary a-btn-slide-text btn-lg btn-block">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span><strong>Deletar</strong></span>
                    </a>
                </div>
                <div class="col-md-12" style="margin-bottom: 20px;">
                    <span style="margin-bottom: 20px;"></span>
                </div>
			</div>
		</div>
	</section>

    <div class="modal fade" id="deletar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1>Você tem certeza que deseja deletar esta notícia?</h1> </br>
		        <form action="{% url 'deletar_noticia' id_evento=evento.id  id_noticia=noticia.id_noticia %}" method="post">
                    {% csrf_token %}
				    <input type="submit" name="login" class="login loginmodal-submit" value="Confirmar">
                </form>
				</div>
          </div>
    </div>
</body>


{% endblock %}