{% extends 'header.html' %}
{% load staticfiles %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>


	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Notícias</h2>
                    <hr class="star-light">
                    <h3>{{ evento.sigla }}</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'detalhe_evento' id_evento=evento.id%}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>
    <section id="portfolio">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
					<h1> Notícias <a style="font-size:25px" href="novo/"><span class="fa fa-plus-circle"></span>Nova notícia</a> </h1>
				</div>
                <div class="col-md-12 col-xs-12 col-lg-12">
                    {% for n in noticias %}                       
                        {% ifchanged n.hora|date:"SHORT_DATE_FORMAT" %} 
                            {% if not forloop.first %}
                                </tbody>
                                </table>
                            {% endif %}
                            <h3>{{ n.hora|date:"d \d\e N \d\e Y" }}</h3>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Corpo</th>
                                        <th style="text-align: right;padding-right: 2.5em;">Ações</th>
                                    </tr>
                                </thead>
                            <tbody>
                        {% endifchanged %}
                        
                        <tr>
                            <td style="width: 25%;"><a href="{{n.id_noticia}}/" style="color: black;">{{ n.titulo|truncatechars:30  }}</td>
                            <td>{{ n.corpo|truncatechars:80 }}</td>
                            <td style="text-align: right; padding-right: 1.5em;">
                                <a href="{{n.id_noticia}}/editar/?previous=lista_noti" style="padding-right: 1em;" title="Editar"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a>
                                <a title="Deletar"><button class="btn btn-danger btn-xs" onclick="alterarModal({{n.id_noticia}})" data-title="Deletar" data-toggle="modal" data-target="#deletar-modal" ><span class="glyphicon glyphicon-trash"></span></button></a>
                            </td>
                        </tr>
                        
                    {% endfor %}
                    </tbody>
                </table>
                {% if noticias.has_other_pages %}
                    <ul class="pagination">
                    {% if noticias.has_previous %}
                        <li><a href="?page={{ noticias.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in noticias.paginator.page_range %}
                        {% if noticias.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if noticias.has_next %}
                        <li><a href="?page={{ questionarios.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                    </ul>
                {% endif %}
                </div>

                
			</div>
		</div>
	</section>

    <script>
        function alterarModal(idAtividade){
			document.getElementsByName("form-modal")[0].setAttribute("action", "" + idAtividade + "/deletar/");

		}
    </script>

    <div class="modal fade" id="deletar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1>Você tem certeza que deseja deletar esta notícia?</h1> </br>
                <form name="form-modal" action="" method="post">
                    {% csrf_token %}
                    <input type="submit" name="login" class="login loginmodal-submit" value="Confirmar">
                </form>
                </div>
          </div>
    </div>

</body>
{% endblock %}