{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/formsDetalhes.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
    <script>
        $(function(){
            // Find any date inputs and override their functionality
            $("#data").datepicker({
                format: "yyyy-mm-dd",
            });
        });
    </script>

    <script src="{% static 'js/moment.min.js' %}"></script>

    <link rel='stylesheet' href="{% static 'css/timepicki.css'%}">
    <script src="{% static 'js/timepicki.js' %}" ></script>


{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    {%if cadastro_completo %}
    <div class="modal fade" id="cadastro-evento-complete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if sucesso %}
                        <h1>Cadastro concluído! </h1><br>
                        <p style="text-align: justify; float:right"> Nova notícia publicada com sucesso.</p>
                        <br/>
                        <br/>
                        <input type="submit" onclick="window.location.href='../'" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Voltar a lista de noticias">
                    {% else %}
                        <h1>Erro ao publicar notícia</h1><br>
                        <p style="text-align: justify; float:right">Ocorreu um erro ao cadastrar a notícia. Certifique-se de que preencheu corretamente todos os campos.</p>
                        <br/>
                        <br/>
                        <input type="submit" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Ok">
                    {% endif %}
				</div>
          </div>
    </div>
    {% endif %}
	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Notícias</h2>
                    <hr class="star-light">
                    <h3>{{ evento.sigla }}</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'lista_noticias' id_evento=evento.id %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>
	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Nova Notícia</h1>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                    <form action="" method="post" role="form" data-toggle="validator">
                        <p> Por favor, insira os dados de sua notícia. Esses dados serão exibidos na página de notícias do aplicativo.</p>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class='control-label' for="titulo">Título <span style="color:red">*</span></label>
                            <input type="text" class="form-control" maxlength="200" name="titulo" id="titulo" placeholder="Título da notícia" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <p>A notícia será publicada apenas a partir da data e hora configuradas abaixo.</p>
                        <div class="row">

                                <div class="form-group col-md-4 col-sm-4" >
                                    <label for="data">Data<span style="color:red">*</span></label>
                                    <input type="date" class="form-control" name="data" id="data" data-match-error="Preencha este campo" required >
                                </div>
                            <div class="form-group col-md-4 col-sm-4">
                                <label for="hora">Hora <span style="color:red">*</span></label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' placeholder="Hora da publicação da notícia" class="form-control" name="hora" id="hora" data-match-error="Preencha este campo" required />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4"></div>
                        </div>

                        <div class="form-group">
                            <label for="corpo">Corpo <span style="color:red">*</span></label>
                            <textarea type="text" rows="5" maxlength="5000" class="form-control" name="corpo" id="corpo" placeholder="Informações gerais da atividade"></textarea>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="botao_register" class="btn login loginmodal-submit">Publicar Notícia</button>
                        </div>

                    </form>
				</div>
			</div>
		</div>
    </section>

    <script type='text/javascript'>
        $('#hora').timepicki({max_hour_value:23,show_meridian:false});
    </script>


</body>
{% endblock %}

{% block footer_imports %}
    {% if cadastro_completo %}
    <script>
            $(document).ready(function () {
                //your code here
              $(window).on('load', function () {
                  setTimeout(function() {
                         //your code to be executed after 200 msecond
                         $('#cadastro-evento-complete-modal').modal({
                             backdrop: 'true'//to disable click close
                          })
                          $('body').css('overflow-y','visible');
                      }, 400);
                      $('body').css('overflow-y','visible');
              })

              $("#cadastro-evento-complete-modal").on('hidden.bs.modal', function () {
                  $('body').css('overflow-y','');
                  {% if sucesso %}window.location.href='../';{% endif %}
                  //document.body.removeAttribute("style");
              })

              });
    </script>
    {% endif %}

{% endblock %}
