{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <style>
            img {
                display: block;
                max-width:100%;
                max-height:80px;
                width: auto;
                height: auto;
                margin: 0 auto;
              }
              .row-eq-height {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display:         block; /* Estava 'flex', corrige divs do mesmo tamanho, porém não funciona responsivo */
              }
              .div-img {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80px;

              }
    </style>
{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>


	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Patrocinadores</h2>
                    <hr class="star-light">
                    <h3>{{ evento.sigla }}</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'detalhe_evento_adm' id_evento=evento.id%}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>
    <section id="portfolio">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
					<h1> Patrocinadores {% if evento.privacidade == 1 %}<a style="font-size:25px" href="novo/"><span class="fa fa-plus-circle"></span>Novo patrocinador</a>{% endif %}</h1>
                </div>
                <div class="col-md-12 col-xs-12 col-lg-12">

                    {% if not vazio %}

                        {% for pat in lista_patrocinadores %}
                        <div class="row row-eq-height">
                            {%for p in pat.patrocinadores%}

                            {% if pat.qtd_patrocinadores == 3%}
                                <div class="col-md-4 col-xs-12 col-lg-4 row-eq-height " >
                            {% elif pat.qtd_patrocinadores == 2%}
                                {% cycle '<div class="col-md-2 col-lg-2"></div><div class="col-md-4 col-xs-12 col-lg-4 row-eq-height">' '<div class="col-md-4 col-xs-12 col-lg-4 row-eq-height">' %}

                            {% else %}
                                <div class="col-md-4 col-lg-4"></div>
                                <div class="col-md-4 col-xs-12 col-lg-4">
                            {% endif %}
                                <div class="col-md-12 col-xs-12 col-lg-12 well" style="box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                                    <div class="div-img">
                                        <img src="{{p.urlimagem}}" class="img-responsive" >
                                    </div>
                                    <br/>
                                    <p><b>Nome:</b> {{p.nome}}</p><br/>
                                    <p><b>Prioridade:</b>
                                        {% if p.prioridade == 0 %} Diamante
                                        {% elif p.prioridade == 1 %} Ouro
                                        {% elif p.prioridade == 2 %} Prata
                                        {% elif p.prioridade == 3 %} Bronze
                                        {% endif %}
                                    </p><br/>
                                    <p><b>URL:</b> {{p.url|urlizetrunc:25}}</p><br/>
                                    {% if evento.privacidade == 1 %}
                                    <p>
                                    <a href="{{p.id}}/editar/" style="padding-right: 0.5em;" title="Editar"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a>
                                    <a title="Deletar"><button class="btn btn-danger btn-xs" onclick="alterarModal({{p.id}})" data-title="Deletar" data-toggle="modal" data-target="#deletar-modal" ><span class="glyphicon glyphicon-trash"></span></button></a>
                                    </p>
                                    {% endif %}
                                </div>
                            </div>

                            {% if pat.qtd_patrocinadores == 2%}
                                {% cycle ' ' '<div class="col-md-2 col-lg-2"></div>' %}
                            {% elif pat.qtd_patrocinadores == 1 %}
                                <div class="col-md-4 col-lg-4"></div>
                            {% endif %}
                            {%endfor%}
                        </div>
                        {% endfor %}

                        {% if patrocinadores.has_other_pages %}
                            <ul class="pagination">
                            {% if patrocinadores.has_previous %}
                                <li><a href="?page={{ patrocinadores.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in patrocinadores.paginator.page_range %}
                                {% if patrocinadores.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if patrocinadores.has_next %}
                                <li><a href="?page={{ patrocinadores.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                    {% else%}
                        <div class="well" style="margin:20px; text-align:center">
                            <p>Nenhum patrocinador inserido</p>
                        </div>
                    {% endif %}

                </div>


			</div>
		</div>
    </section>


    <script>
            function alterarModal(idAtividade){
                document.getElementsByName("form-modal")[0].setAttribute("action", "" + idAtividade + "/deletar/");

            }
        </script>

        <div class="modal fade" id="deletar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>Você tem certeza que deseja deletar este patrocinador?</h1> </br>
                    <form name="form-modal" action="" method="post">
                        {% csrf_token %}
                        <input type="submit" name="login" class="login loginmodal-submit" value="Confirmar">
                    </form>
                    </div>
              </div>
        </div>

</body>
{% endblock %}
