{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/graficos.css' %}">
{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>


	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Questionário</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </section>

    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'lista_questionarios_adm' id_evento=evento.id %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>

	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1>Questionário</h1>
				</div>
                <div class="col-md-12 col-sm-12">
                    <div class="d-inline">
                        <h3>Nome: </h3>
                        <p>{{questionario.nome}}</p>
                        <br/><br/>
                    </div>          
                    <div class="d-inline">
                        <h3>Atividade: </h3> <p>{{questionario.id_atividade.nome}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline">
                        <h3>Evento: </h3> <p>{{questionario.id_evento.nome}}</p>
                        <br/><br/>
                    </div>
				</div>
			</div>
		</div>
    </section>

    {% if evento.privacidade == 1%}
    <section id="portfolio" style="padding-top: -20px;">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
					<h1> Ações</h1>
				</div>
                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
				    <a href="{% url 'editar_questionario_adm' id_evento=evento.id id_questionario=questionario.id %}" class="btn btn-primary a-btn-slide-text btn-lg btn-block">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        <span><strong>Editar</strong></span>
                    </a>
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                    <a href="#" data-toggle="modal" data-target="#deletar-modal" class="btn btn-primary a-btn-slide-text btn-lg btn-block">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span><strong>Deletar</strong></span>
                    </a>
                </div>
                <div class="col-md-12" style="margin-bottom: 20px;">
                    <span style="margin-bottom: 20px;"></span>
                </div>
			</div>
		</div>
    </section>
    {% endif %}

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
                    <h1>Perguntas</h1>
                </div>
                
                {% for pergunta in lista_perguntas %}
                <hr class="questions__divisor">
                    <div class="col-md-12" style="padding-bottom: 25px;">                     
                        <div class="pergunta2">
                            <span class="pergunta__title">PERGUNTA</span>
                            <span class="pergunta__text">
                                    {{pergunta.pergunta.pergunta}}
                            </span>
                        </div>
                        <div class="respostas">
                            <div class="respostas__title">
                                RESPOSTAS
                            </div>
                            {% for resposta in pergunta.respostas%}
                                <div class="respostas__resposta">
                                    <span class="respostas__resposta__title">{{resposta.resposta}} ({{resposta.respostaparticipante_set.count}})</span>
                                    <div class="respostas__resposta__graph">
                                        <div class="respostas__resposta__graph__bar" style="width: {{resposta.porcentagem}}%;">      
                                        </div>
                                        <span class="respostas__resposta__graph__count">
                                            {{resposta.porcentagem}}%
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                {% endfor%}
                
            </div>
        </div>
    </section>

    <div class="modal fade" id="deletar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1>Você tem certeza que deseja deletar este questionário?</h1> </br>
                <form name="form-modal" action="{% url 'deleta_questionario_adm' id_evento=evento.id id_questionario=questionario.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="login" class="login loginmodal-submit" value="Confirmar">
                </form>
                </div>
          </div>
    </div>
</body>


{% endblock %}

{% block footer_imports %}

<script>
    function setFill(el, perc, use_color) {

        var color;
    
        color = '#82bcff';
        color = '#91c4ff';
        //color = '#a8c9ff';
      
        $(el)
          .css('background', '-webkit-linear-gradient(left, ' + color + ' ' + perc + '%,#ffffff ' + perc + '%)')
          .css('background', '-moz-linear-gradient(left, ' + color + ' ' + perc + '%,#ffffff ' + perc + '%)')
          .css('background', '-ms-linear-gradient(left, ' + color + ' ' + perc + '%,#ffffff ' + perc + '%)')
          .css('background', '-o-linear-gradient(left, ' + color + ' ' + perc + '%,#ffffff ' + perc + '%)')
          .css('background', 'linear-gradient(to right, ' + color + ' ' + perc + '%,#ffffff ' + perc + '%)');
      }
      
      $('.percentageFill').each(function(i, e){ 

        setFill(e, $(e).data('percentage')*100/$('#qtdRespostas').data('total'), true); 
      });

</script>

{% endblock %}