{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/formsDetalhes.css' %}">
    <style>
        .atividades-extras {
            margin-top: 10px;
        }
        .indent {
            text-align: justify;
        }
    </style>
{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    {%if cadastro_completo %}
    <div class="modal fade" id="cadastro-evento-complete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if sucesso %}
                        <h1>Cadastro concluído! </h1><br>
                        <p>Novo questionário cadastrado com sucesso.</p>
                        <br/>
                        <br/>
                        <input type="submit" onclick="window.location.href='../'" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Voltar a lista de questionarios">
                    {% else %}
                        <h1>Erro ao cadastrar Questionário</h1><br>
                        <p>Ocorreu um erro ao cadastrar o questionário. Certifique-se de que preencheu corretamente todos os campos.</p>
                        <br/>
                        <br/>
                        <input type="submit" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Ok">
                    {% endif %}
				</div>
          </div>
    </div>
    {% endif %}

	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Painel de controle</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'lista_questionarios_adm' id_evento=id_evento %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>
	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Novo Questionário</h1>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                    <form action=" {% url 'novo_questionario_adm' id_evento=id_evento %}" method="post" role="form" data-toggle="validator">
                        {% csrf_token %}
                        <div class="indent">
                        <p> Por favor, insira os dados de seu questionário, esses dados serão exibidos na página de questionários do aplicativo. Comece escolhendo a atividade do questionário
                            ou caso seja um questionário sem atividade específica, escolha "Questionário Geral". Em seguida adicione suas perguntas e respostas!
                        </p>
                        </div>

                        <div style="padding-top:10px; margin-bottom:15px; margin-left: 20px;margin-right: 20px; text-align:center">
                            <label for="selecaoAtividade">Selecione a atividade</label>
                            <select name="atividadeEscolhida" class="custom-select" id="selecaoAtividade">
                                <option value="-1" selected>Questionário Geral</option>
                                {% for opcao in listaAtividades %}
                                    <option value="{{opcao.id}}">{{opcao.nome}}</option>
                                {% endfor %}
                            </select>

                            <div id="botaoAtividade" style="padding-top:28px; margin-bottom:15px; text-align:center" >

                                <input type="button" class="login loginmodal-submit" value="Adicionar mais uma atividade" id="btnAddAtividade" style="width:200px"></input>
                            </div>
                        </div>

                        <div class="questionario well" style="margin:20px;">
                            <div class="form-group">
                                <label class="control-label">Título do questionário </label>
                                <input type="text" class="form-control" name="titulo" maxlength="150" placeholder="Título" data-match-error="Preencha este campo" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>


                        <div id="botaoPergunta" style="padding-top:10px; margin-bottom:15px; text-align:center" >
                            <input type="button" class="login loginmodal-submit" value="Adicionar Pergunta" id="btnAdd" style="width:200px"></input> com <input type="number" min="2" max="10" value="2" id="qtdRespostas"></input> respostas.
                        </div>

                        <div class="form-group">
                            <!--<input type="submit" name="login" class="login loginmodal-submit" value="Cadastrar">-->
                            <button type="submit" id="botao_register" class="btn login loginmodal-submit">Salvar Questionário</button>
                        </div>

                    </form>
				</div>
			</div>
		</div>
	</section>


</body>
{% endblock %}

{% block footer_imports %}
    <script src="{% static 'js/questionarios.js' %}"></script>
    {% if cadastro_completo %}
        <script src="{%static 'js/newEventComplete.js'%}"></script>
    {% endif %}

    <script>
            $('#btnAddAtividade').click(function() {
                $('#botaoAtividade').before('<div class="questionario"><select name="atividadeEscolhida" class="custom-select atividades-extras" id="selecaoAtividade"><option value="-1" selected>Questionário Geral</option>{% for opcao in listaAtividades %}<option value="{{opcao.id}}">{{opcao.nome}}</option>{% endfor %}</select><a class="removeAtiv" name="removeAtiv"><span class="glyphicon glyphicon-remove"></span>Remover atividade</a><br/></div>')
            })

            $(document).on("click", ".removeAtiv", function() {

                $(this).parent().remove()

            });

    </script>

{% endblock %}
