{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabelas.css' %}">
    <link rel="stylesheet" href="{% static 'css/rangeSlider.css' %}">
	<link rel="stylesheet" href="{% static 'css/sentimentos.css' %}">
    <!-- <script src="{%static 'js/jquery.awesomeCloud-0.2.min.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/opinioesSlider.js' %}"> </script>
    <!-- <style type="text/css">
        .wordcloud {
            border: 1px solid #036;
            height: 3in;
            margin: 0.2in auto;
            padding: 0;
            page-break-after: always;
            page-break-inside: avoid;
            width: 7in;
        }
    </style> -->
    {% if wordcloud %}

    {% endif%}

{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>


	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Opiniões</h2>
                    <hr class="star-light">
                    <h3>{{ evento.sigla }}</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'detalhe_evento' id_evento=evento.id%}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>
    <section id="portfolio">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
					<h1> Opiniões</h1>
                </div>
                <div class="col-md-12">

                    <div class="tab-content">
                        <div id="estatisticas" class="tab-pane fade in active">
                            <table style="margin-top: 2%" id="menu1" class="tablePersonalizada">
                                <tr>
                                    <th colspan="4"><div style="text-align: center"><p><font size=4>ESTATÍSTICAS</font></p></div></th>
                                </tr>
                                <tr>
                                    <td colspan="3"><div ><p>Total de opiniões enviadas:</p></div></td>
                                    <td><div style="text-align: center"><p>{{totalOpinioes}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div><p>Participantes cadastrados no evento:</p></div></td>
                                    <td><div style="text-align: center"><p>{{qtdParticipantes}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div><p>Média de opiniões por participante:</p></div></td>
                                    <td><div style="text-align: center"><p>{{mediaPartOpi}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div><p>Participante que mais opinou:</p></div></td>
                                    <td><div style="text-align: center"><p>{{qtdMaisOpinioes}}</p></div></td>
                                </tr>
                                <tr>
                                <td colspan="3"><div><p>Participante que menos opinou:</p></div></td>
                                    <td><div style="text-align: center"><p>{{qtdMenosOpinioes}}</p></div></td>
                                </tr>
                            </table>
                            </br>
                        </div>
						<div id = "sentimentos-evento">
							<h3 id = "sentimento-titulo">Sentimento Predominante nas Opiniões</h3>
							 {% if sentimento == 'Neutro' %}
								<b id = {{sentimento}}>{{sentimento}}</b></br></br>
								<img class="img-fluid" src="{% static 'img/shadow.png' %}" id = "shadow" alt = "Personageem Shadow">
							{% endif %}
							{% if sentimento == 'Positivo' %}
								<b id = {{sentimento}}>{{sentimento}}</b></br></br>
								<img class="img-fluid" src="{% static 'img/sonic.png' %}" id = "shadow" alt = "Personageem Sonic">
							{% endif %}
							{% if sentimento == 'Negativo' %}
								<b id = {{sentimento}}>{{sentimento}}</b></br></br>
								<img class="img-fluid" src="{% static 'img/eggman.png' %}" id = "shadow" alt = "Personageem Sonic">
							{% endif %}
							{% if sentimento == 'Não Disponível no Momento!' %}
								<b id = 'sentimento-indisponivel'>{{sentimento}}</b></br></br>
								<img class="img-fluid" src="{% static 'img/silver.png' %}" id = "shadow" alt = "Personageem Sonic">
							{% endif %}
							<ul id = "lista-sentimentos">
							  <li id = "quant-positivo">Quantidade de Opiniões Positivas: {{quantPositivas}}</li>
							  <li id = "quant-negativo">Quantidade de Opiniões Negativas: {{quantNegativo}}</li>
							  <li id = "quant-neutro">Quantidade de Opiniões Neutras: {{uantNeutro}}</li>
							</ul>
						</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <form action=" {% url 'lista_opinioes' id_evento=evento.id %}" method="get" role="form">

                        <div class="questionario well" style="margin:20px;">
                            <div class="form-group">
                                <label class="control-label">Pesquisar por palavra chave (Separe as palavras chave com ponto e vírgula. Deixe em branco para listar todas as opiniões)</label>
                                <input type="text" class="form-control" value="{{request.GET.palavraschave}}" name="palavraschave" placeholder="Insira aqui as palavras chave" data-match-error="Preencha este campo">
                            </div>
                            <div class ="form-group">
                                <label class="control-label">Modo de busca</label>
                                <select name="opcaobusca" class="custom-select" id="opcaobusca">
                                    <option value="1" selected>Contenha uma palavra chave ou mais</option>
                                    <option value="2">Contenha todas as palavras chave</option>
                                </select>
                            </div>
                            <div class ="form-group">
                                <label class="control-label">Quantidade de opiniões por página</label>
                                <input type="number" class="form-control" min="1" value="{% if request.GET.qtd%}{{request.GET.qtd}}{%else%}20{% endif %}" name="qtd" placeholder="Escolha a quantidade de opiniões por página" data-match-error="Preencha este campo">
                            </div>
                            <div class="form-group" style="margin-bottom: 0px; text-align:center">
                                <!--<input type="submit" name="login" class="login loginmodal-submit" value="Cadastrar">-->
                                <button type="submit" id="botao_register" style="width: 200px;" class="btn login loginmodal-submit">Buscar opiniões</button>
                            </div>
                        </div>






                    </form>
                    <form action=" {% url 'lista_opinioes' id_evento=evento.id %}" method="get" role="form">
                        <div class="questionario well" style="margin:20px;">




                            <div class ="form-group" style="text-align: center; margin: 0 auto;">

                                <div class="slidecontainer" style="text-align: center; margin: 0 auto; width: 70%;">
                                  <!-- <p>Default range slider:</p>
                                  <input type="range" min="1" max="100" value="50"> -->

                                  <p style="font-size: 15px;">Este valor representa a quantidade mínima de vezes que uma palavra deve aparecer para compôr a WordCloud. </br>(Sugestão: valores maiores ou iguais à 3):</p>
                                  </br></br>
                                  <input type="range" onchange="verifica()" min="1" max="100" class="sliderWC" id="sliderWordCloud" name="peso_wordcloud" "{%if peso_wordcloud %} value = {{peso_wordcloud}} {% else %} value='1' {% endif %}">
                                </div>
                                </br>
                                <p style="font-size: 15px;">Valor: <span id="valorExibicaoWC"></span> entre (1,100)</p>
                                    </br>
                                    </br>

                            </div>
                            <div class="form-group" style="margin-bottom: 0px; text-align:center">
                                <input type="hidden" name="wordcloud" value="1"/>
                                <!--<input type="submit" name="login" class="login loginmodal-submit" value="Cadastrar">-->
                                <button type="submit" id="botao_register" style="width: 200px;" class="btn login loginmodal-submit">Gerar wordcloud</button>
                            </div>




                            {% if wordcloud %}
                                {% for texto, value in peso_opinioes.items %}
                                    {% if value.count >= peso_wordcloud %}
                                    <span class="palavras" data-weight="{{value.count}}" data-text="{{value.word}}" hidden>{{value.word}}</span>
                                    {% endif %}
                                {% endfor %}
                                <div id="wordcloud" class="wordcloud"><div class="loader"></div></div>

                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="col-md-12 col-xs-12 col-lg-12">
                    {% if not vazio %}
                        <table class="table table-striped">
                            <tbody>
                            {% for opi in opinioes%}

                                <tr>
                                    <td>{{opi.opiniao}}</td>
                                </tr>

                            {%endfor%}
                            </tbody>
                        </table>
                        {% if opinioes.has_other_pages %}
                            <ul class="pagination">
                            {% if opinioes.has_previous %}
                                <li><a href="?page={{ users.previous_page_number }}{%if request.GET.palavraschave %}&palavraschave={{request.GET.palavraschave|urlencode}}{% endif %}{% if request.GET.qtd%}&qtd={{request.GET.qtd}}{% endif %}{% if request.GET.opcaobusca %}&opcaobusca={{request.GET.opcaobusca}}{% endif %}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in opinioes.paginator.page_range %}
                                {% if opinioes.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}{%if request.GET.palavraschave %}&palavraschave={{request.GET.palavraschave|urlencode}}{% endif %}{% if request.GET.qtd%}&qtd={{request.GET.qtd}}{% endif %}{% if request.GET.opcaobusca %}&opcaobusca={{request.GET.opcaobusca}}{% endif %}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if opinioes.has_next %}
                                <li><a href="?page={{ users.next_page_number }}{%if request.GET.palavraschave %}&palavraschave={{request.GET.palavraschave|urlencode}}{% endif %}{% if request.GET.qtd%}&qtd={{request.GET.qtd}}{% endif %}{% if request.GET.opcaobusca %}&opcaobusca={{request.GET.opcaobusca}}{% endif %}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                            </ul>
                        {% endif %}
                    {% else%}
                        <div class="questionario well" style="margin:20px; text-align:center">
                            <p>Nenhuma opinião recebida</p>
                        </div>
                    {% endif %}

                </div>


			</div>
		</div>
	</section>

</body>
{% endblock %}

{% block footer_imports %}
    {% if wordcloud %}
        <script src="{% static 'js/wordcloud/d3.js' %}"></script>
        <script src="{% static 'js/wordcloud/d3.layout.cloud.js' %}"></script>
        <script src="{% static 'js/wordcloud/d3.wordcloud.js' %}"></script>
        <script>
            $(document).ready(function(){
                var obj = [];
                $(".palavras").each(function() {
                    obj.push( { text: $(this).data('text').toString(), size: parseInt($(this).data('weight')) })

                });
                var o = d3.scale.ordinal()
                .domain([0,20])
                .range(["#08306b","#08519c","#2171b5","#4292c6","#6baed6"]);
                setTimeout(function(){
                    var tamanhoX = $('#wordcloud').width()*0.95;
                    var tamanhoY = $(window).height()*0.6;
                    d3.wordcloud()
                    .size([tamanhoX,tamanhoY])
                    .font('Impact')
                    .selector('#wordcloud')
                    .fill(o)
                    .words(obj)
                    .start();
                    $('.loader').remove();
                },1000);


            });
        </script>
    {% endif %}
{% endblock%}
