{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabelas.css' %}">
{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Equipe MyMobiConf</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#estatisticas">Estatísticas</a></li>
                        <li><a data-toggle="tab" href="#ultEvento">Último evento adicionado</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="estatisticas" class="tab-pane fade in active">
                            <table style="margin-top: 2%" id="menu1" class="tablePersonalizada">
                                <tr>
                                    <th colspan="4"><div style="text-align: center"><p><font size=5>ESTATÍSTICAS</font></p></div></th>
                                </tr>
                                <tr>
                                    <td colspan="3"><div ><p>Total de usuários cadastrados:</p></div></td>
                                    <td><div style="text-align: center"><p>{{numU}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div><p>Total de eventos cadastrados:</p></div></td>
                                    <td><div style="text-align: center"><p>{{numE}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div><p>Média de eventos por usuário:</p></div></td>
                                    <td><div style="text-align: center"><p>{{mediaEU}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div><p>Média de atividade por evento:</p></div></td>
                                    <td><div style="text-align: center"><p>{{mediaAE}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div><p>Média de questionários por evento:</p><div></td>
                                    <td><div style="text-align: center"><p>{{mediaQE}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div><p>Média de opiniões por evento:</p></div></td>
                                    <td><div style="text-align: center"><p>{{mediaOE}}</p></div></td>
                                </tr>
                            </table>
                            </br>
                        </div>
                        <div id="ultEvento" class="tab-pane fade">
                            <table style="margin-top: 2%" class="tablePersonalizada">
                                <tr>
                                    <th colspan="4"><div style="text-align: center"><p><font size=5>ÚLTIMO EVENTO ADICIONADO</font></p></div></th>
                                </tr>
                                <tr>
                                    <td><div class="divCentralizada"><p>Sigla:</p></div></td>
                                    <td colspan="4"><div><p>{{ultE.sigla }}</p></div></td>
                                </tr>
                                <tr>
                                    <td><div><p>Nome:</p></div></td>
                                    <td colspan="4"><div><p>{{ultE.nome }}</p></div></td>
                                </tr>
                                <tr>
                                    <td><div><p>Informações:</p></div></td>
                                    <td colspan="4"><div><p>{{ultE.informacoes_gerais }}</p></div></td>
                                </tr>
                                <tr>
                                    <td><div><p>Início:</p></div></td>
                                    <td colspan="4"><div><p>{{ultE.data_inicio }}</p></div></td>
                                </tr>
                                <tr>
                                    <td><div><p>Fim:</p></div></td>
                                    <td colspan="4"><div><p>{{ultE.data_fim }}</p></div></td>
                                </tr>
                            </table>
                            </br>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>

    <section style="margin-top: -2%;">
        <div class="container">
          <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
            <div class="col-md-12" style="margin-top: -1.2%;">
              <h1><a style="font-size:25px" href="{% url 'todos_eventos_pesquisa' %}"><span class="fa fa-plus-circle"></span> Todos os eventos</a> </h1>
            </div>
            <div class="col-md-12" style="margin-top: -1.2%;">
              <h1><a style="font-size:25px" href="{% url 'publicado_app' %}"><span class="fa fa-plus-circle"></span> Eventos publicados no APP </a> </h1>
            </div>
          </div>
        </div>
    </section>

</body>
{% endblock %}
