{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/formsDetalhes.css' %}">

{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    {%if cadastro_completo %}
    <div class="modal fade" id="cadastro-evento-complete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if sucesso %}
                        <h1>Edição concluída! </h1><br>
                        <p>Edição do questionário concluída com sucesso.</p>
                        <br/>
                        <br/>
                        <input type="submit" onclick="window.location.href='../../'" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Voltar a lista de questionarios">
                    {% else %}
                        <h1>Erro ao editar Questionário</h1><br>
                        <p>Ocorreu um erro ao editar o questionário. Certifique-se de que preencheu corretamente todos os campos.</p>
                        <br/>
                        <br/>
                        <input type="submit" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Ok">
                    {% endif %}
				</div>
          </div>
    </div>
    {% endif %}

    {%if tem_reposta %}
    <div class="modal fade" id="tem-resposta-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container" style="max-width: 400px">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>Questionário já respondido!</h1><br>
                    <p style="text-align: justify; float:right">Este questionário já foi respondido por algum participante, caso prossiga com a edição, as respostas dos participantes serão apagadas!!</p>
                    <br/>
                    <br/>
                    <input type="submit" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Ok">
				</div>
          </div>
    </div>
    {% endif %}

	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Painel de controle</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% if request.GET.previous == 'lista_quest' %}{% url 'lista_questionarios' id_evento=id_evento %}{% else %}{% url 'detalhe_questionario' id_evento=id_evento id_questionario=id_questionario%}{% endif %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>
	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Editar Questionário</h1>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                    <form action=" {% url 'editar_questionario' id_evento=id_evento id_questionario=id_questionario %}" method="post" role="form" data-toggle="validator">
                        {% csrf_token %}
                        <p> Por favor, insira os dados de seu questionário, esses dados serão exibidos na página de questionários do aplicativo. Comece escolhendo a atividade do questionário
                            ou caso seja um questionário sem atividade específica, escolha "Questionário Geral". Em seguida adicione suas perguntas e respostas!
                        </p>

                        <div style="padding-top:10px; margin-bottom:15px; margin-left: 20px;margin-right: 20px; text-align:center">
                            <label for="selecaoAtividade">Selecione a atividade</label>
                            <select name="atividadeEscolhida" class="custom-select" id="selecaoAtividade">
                                <option value="-1">Questionário Geral</option>
                                {% for opcao in listaAtividades %}
                                    <option value="{{opcao.id}}" {% if opcao.id == quest.id_atividade.id%}selected{% endif%}>{{opcao.nome}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="questionario well" style="margin:20px;">
                            <div class="form-group">
                                <label class="control-label">Título do questionário </label>
                                <input type="text" class="form-control" name="titulo" placeholder="Título" data-match-error="Preencha este campo" value="{{quest.nome}}" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        
                        {% for pergunta in quest.pergunta_set.all %}
                        <div class="questionario well" style="margin:20px;">
                            <div class="form-group">
                                <label class="control-label">Pergunta </label>
                                <a class="remove" name="remove"><span class="glyphicon glyphicon-remove"></span>Deletar</a>
                                <input type="text" class="form-control" name="pergunta" placeholder="Pergunta" data-match-error="Preencha este campo" value="{{pergunta.pergunta}}" required>
                                <input type="hidden" name="qtdResposta" value="{{pergunta.resposta_set.count}}"></input><div class="help-block with-errors"></div>
                            </div>
                            <label class="control-label">Respostas</label> 
                            {% for resposta in pergunta.resposta_set.all %}
                            <div class="form-group">
                                <input type="text" class="form-control" name="resposta" placeholder="Resposta" data-match-error="Preencha este campo" value="{{resposta.resposta}}" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        
                        <div id="botaoPergunta" style="padding-top:10px; margin-bottom:15px; text-align:center" >
                            <input type="button" class="login loginmodal-submit" value="Adicionar Pergunta" id="btnAdd" style="width:200px"></input> com <input type="number" min="2" max="10" value="2" id="qtdRespostas"></input> respostas.
                        </div>
                    
                        <div class="form-group">
                            <!--<input type="submit" name="login" class="login loginmodal-submit" value="Cadastrar">-->
                            <button type="submit" id="botao_register" class="btn login loginmodal-submit">Salvar Questionário</button>
                        </div>
                        
                    </form>
				</div>
			</div>
		</div>
	</section>


</body>
{% endblock %}

{% block footer_imports %}
    <script src="{% static 'js/questionarios.js' %}"></script>
    {% if cadastro_completo %}
        <script src="{%static 'js/newEventComplete.js'%}"></script>
    {% endif %}
    {% if tem_reposta %}
        <script src="{%static 'js/temResposta.js'%}"></script>
    {% endif %}
{% endblock %}
