{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}

{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>


	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Erro :(</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </section>
	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Acesso Inválido</h1>
                    <p> Ops... Você não devia estar aqui!</p>
				</div>
			</div>
		</div>
	</section>

</body>
{% endblock %}