{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Painel de controle</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </section>
	<section>
		<div name="target" class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Eventos <a style="font-size:25px" href="evento/novo/"><span class="fa fa-plus-circle"></span>Novo Evento</a> </h1>
				</div>
				
				
				{% if listaEventos %}
					<div class="col-md-2 col-sm-2"></div>
					<div class="col-md-8 col-sm-8 col-xs-12" style="padding-top:10px">
						<ul class="event-list">
						{% for evento in listaEventos%}

							<li id="liTop" onclick="location.href='evento/{{evento.id}}/'"><!---->
								<time>
									<span class="day"> {{evento.data_inicio|date:"j"}}</span>
									<span class="month"> {{ evento.data_inicio|date:"M" }}</span>
									<span class="year">{{ evento.data_inicio|date:"Y" }} </span>
								</time>
								<img alt="{{evento.nome}}" src="{{evento.urllogo}}" />
								<div class="info">
									<h2 class="title"> {{evento.sigla}}</h2>
									<p class="desc">{{evento.nome}}</p>
									<ul>
										<li style="width:33%;"><a href="evento/{{evento.id}}/"><span class="fa fa-globe"></span> Acessar</a></li>
										<li style="width:34%;"><a href="evento/{{evento.id}}/editar/?previous=painel"><span class="fa fa-pencil"></span> Editar</a></li>
										<li name="modalli" style="width:33%;"><a href="#" onclick="alterarModal({{evento.id}})"><span class="fa fa-trash"></span> Excluir</a></li>
									</ul>
								</div>
							</li>
						{% endfor%}
						</ul>
					</div>
					{% else %}
					<div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
						<div class="well">
						<p>Sem eventos, clique no botão "Novo Evento" acima para começar</p>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

	<script>
		/* function */
		$("li[name=modalli]").bind("click", false);

		function alterarModal(idEvento){
			document.getElementsByName("form-modal")[0].setAttribute("action", "evento/" + idEvento + "/deletar/");
			$("div[name=deletar-modal]").modal('show');

		}
	</script>

	<div class="modal fade" name="deletar-modal" id="deletar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1>Você tem certeza que deseja deletar este evento?</h1> </br>
		        <form name="form-modal" action="" method="post">
					{% csrf_token %}
					<input type="submit" class="login loginmodal-submit" data-dismiss="modal" style="background-color: #d9534f;" value="Cancelar" autofocus />
				    <input type="submit" name="login" class="login loginmodal-submit" value="Confirmar">
                </form>
				</div>
          </div>
    </div>

</body>
{% endblock %}