<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>myMobiConf</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">

    <!-- Theme CSS -->
    <!--<link href="css/freelancer.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'css/freelancer.css' %}">
    <link rel="stylesheet" href="{% static 'css/loginModelo.css' %}">

    <!-- Custom Fonts -->
    <!--<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    {% block head %}
    {% endblock %}

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png'%}"/>
</head>
<body id="page-top">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">MyMobiConf</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% if index %}
                    <li class="page-scroll">
                        <a href="#about">Sobre</a>
                    </li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li class="login-button">
                        <a href="#" data-toggle="modal" data-target="#login-modal" onclick="showLogin()">Login/Cadastrar</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'tutorial' %}">Tutorial</a>
                    </li>
                    <li>
                        <a href="{% url 'control_panel' %}">Painel de controle</a>
                    </li>
                    </li>
                    <li>
                        <a href="{% url 'perfil' %}">Perfil <!--{{user.first_name}}--> </a>
                    </li>
                    {% if user.is_staff %}
                    <li>
                        <a href="{% url 'administracao' %}">Administração <!--{{user.first_name}}--> </a>
                    </li>
                    {% endif %}
                    <li class="login-button" >
                        <a href="#" data-toggle="modal" data-target="#login-modal" onclick="showLogin()"> Sair <!-- Deslogar {{user.first_name}}--> </a>
                    </li>
                    {% endif%}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% block content %}
    {% endblock %}

    <!-- Login Modals -->
    {% if not user.is_authenticated %}
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">

              <div class="loginmodal-container">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h1>Faça login em sua conta</h1> </br>
				    <form action="{% url 'login'%}" method="post">
                        {% csrf_token %}
					    <input type="text" name="user" placeholder="Usuário">
					    <input type="password" name="pass" placeholder="Senha">
					    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
				    </form>
                    <div class="login-help">
					    <a href="javascript: void(0);" onclick="showRegister('#login-modal')">Registrar</a> - <a href="javascript: void(0);" onclick="showFollow()">Esqueceu sua senha?</a>
                        <!-- data-toggle="modal" data-target="#register-modal" data-dismiss="modal"-->
				    </div>
				</div>
          </div>
    </div>

    <!-- Register modal -->

    <div class="modal fade" class="login-modal" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1>Crie sua conta</h1><br>
				    <form action="{% url 'registroCompleto' %}" method="post" role="form" data-toggle="validator">
                        {% csrf_token %}
                        <!--{ %%% sendEmail %%%}-->
                        <div class="form-group">
                            <input type="text" class="form-control" name="nome" placeholder="Nome" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
					        <input type="text" class="form-control" name="user" placeholder="Usuário" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>
					    <div class="form-group">
                            <input type="password" class="form-control" data-minlength="6" name="pass" id="inputPassword" placeholder="Senha" required>
                            <div class="help-block">Mínimo de 6 caracteres</div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="pass2" data-match="#inputPassword" placeholder="Digite sua senha novamente"
                                   data-match-error="As senhas digitadas não são iguais" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email" data-error="Email inválido" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <!--<input type="submit" name="login" class="login loginmodal-submit" value="Cadastrar">-->
                            <button type="submit" id="botao_register" class="btn login loginmodal-submit">Cadastrar</button>
                        </div>
				    </form>
				</div>
          </div>
    </div>

    <!-- Update email -->

    <div class="modal fade" class="login-modal" id="update_email-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
              <div class="loginmodal-container">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h1>Digite seu e-mail para recuperação</h1><br/>
                  <form  action="{% url 'eEmail' %}" method="post" role="form" data-toggle="validator"> <!--action="{ url 'registroCompleto' }"-->
                      {% csrf_token %}
                      <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" data-error="Email inválido" required>
                        <div class="help-block with-errors"></div>
                      </div>
                          <!--<input type="submit" name="login" class="login loginmodal-submit" value="Cadastrar">-->
                          <button type="submit" id="botao_register" class="btn login loginmodal-submit">Solicitar</button>
                      </div>
                  </form>
              </div>
        </div>
    </div>

    <!-- Logout Model -->
    {% else %}
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog">

                  <div class="loginmodal-container">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h1>Você realmente deseja sair, {{ user.first_name}}?</h1> </br>
                        <form action="{% url 'deslogar'%}" method="post">
                            {% csrf_token %}
                            <input type="submit" name="login" class="login loginmodal-submit" value="Deslogar">
                        </form>
                    </div>
              </div>
        </div>
    {% endif %}

    <!-- Register Complete Modal -->
    {% if registroCompleto %}
    <div class="modal fade" id="register-complete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if sucesso %}
                        <h1>Bem vindo, {{ user.first_name }}! </h1><br>
                        <p style="text-align: justify; float:right">Você se cadastrou com sucesso, acesse o tutorial ou painel de controle para começar.</p>
                    {% else %}
                        <h1>Erro ao se cadastrar</h1><br>
                        <p>Ocorreu um erro :/</p><br/>
                        <p>{{ erro }}</p>
                    {% endif %}
				</div>
          </div>
    </div>
    {% endif %}

    {% if retornoEmail %}
    <div class="modal fade" id="recover-email-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if sucesso %}
                        <h1>Solicitação realizada com sucesso!</h1><br>
                        <p>Um e-mail foi enviado contendo as informações para a redefinição da sua senha.</p>
                        </br>
                        <p>Caso não o receba, solicite novamente.</p>
                    {% else %}
                        <h1>E-mail inválido</h1><br>
                        <p>Este e-mail não está cadastrado no nosso sistema :/</p><br/>
                    {% endif %}
				</div>
          </div>
    </div>
    {% endif %}

    <!-- Login Error Modal -->
    {% if loginError %}
    <div class="modal fade" id="login-error-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1>Erro ao logar :(! </h1><br>
                        <p>{{ erro }}</p>
                        <div class="login-help">
                            <a href="javascript: void(0);" onclick="showRegister('#login-error-modal')">Registrar</a> - <a id='ffff' href="javascript: void(0);" onclick="showFollow()">Esqueceu sua senha?</a>
                        </div>
				</div>
          </div>
    </div>
    {% endif%}

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Localização</h3>
                        <p>Universidade Federal de Viçosa - Campus Florestal
                            <br>Florestal, Minas Gerais</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Em torno da Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Dribble</span><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Sobre myMobiConf</h3>
                        <p>O myMobiConf é um aplicativo desenvolvido para Android e iOS por estudantes da UFV - Campus Florestal</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; myMobiConf 2018
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Contact Form JavaScript -->
    <script src="{%static 'js/jqBootstrapValidation.js'%}"></script>
    <script src="{%static 'js/contact_me.js'%}"></script>

    <!-- Theme JavaScript -->
    <script src="{%static 'js/freelancer.js'%}"></script>

    <!-- Login Modal JavaScript -->
    {% if not user.is_authenticated %}
        <script src="{%static 'js/loginModal.js'%}"></script>
        <script src="{%static 'js/validator.js'%}"></script>
    {% else %}

    {% endif %}

    <!-- Register Complete Modal Javascript -->
    {% if registroCompleto %}
        <script src="{%static 'js/registerComplete.js'%}"></script>
    {% endif %}

    {% if retornoEmail %}
        <script src="{%static 'js/recoverEmail.js'%}"></script>
    {% endif %}

    <!-- Logout Script -->
    {% if loginError %}
        <script src="{%static 'js/loginError.js'%}"></script>
    {% endif %}

    {% block footer_imports %}
    {% endblock %}
</body>
</html>
