{% extends 'header.html' %}
{% load staticfiles %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{%static 'img/icon.png' %}" srcset="{%static 'img/icon-1x.png' %} 1x, {%static 'img/icon-2x.png' %} 2x,
                                 {%static 'img/icon-3x.png' %} 3x, {%static 'img/icon-4x.png' %} 4x" alt="">
                    <div class="intro-text">
                        <h1 class="name">myMobiConf</h1>
                        <hr class="star-light">
                        <span class="skills">Seu evento na palma de sua mão!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="sobre">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Cadastre eventos e atividades</h3>
                    <p>Adicione imagens, atividades, locais, e todos os detalhes necessários para que os participantes não se sintam perdidos.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Disponibilize-os ao público</h3>
                    <p>Permita que os participantes encontrem todos as informações sobre o seu evento através do nosso aplicativo, tornando suas participações menos cansativas e mais fáceis.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Receba o feedback dos participantes</h3>
                    <p>Através de questionários e pesquisas de opinião, saiba exatamente o que os participantes estão achando de seu evento!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" style="padding: 30px 0px 0px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Fácil de usar</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{%static 'img/portfolio/port1.jpg'%}" class="img-responsive" alt="Cabin">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{%static 'img/portfolio/port2.png'%}" class="img-responsive" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{%static 'img/portfolio/port3.png'%}" class="img-responsive" alt="Circus tent">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{%static 'img/portfolio/port4.png'%}" class="img-responsive" alt="Game controller">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{%static 'img/portfolio/port5.png'%}" class="img-responsive" alt="Safe">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{%static 'img/portfolio/port6.jpg'%}" class="img-responsive" alt="Submarine">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="baixar"  >
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="text-align: center;">
                    <h3 >Comece a usar agora mesmo!</h3>

                    <div class="col-md-5 padding-extra">
                        {% if not user.is_authenticated %}
                            <div class="row" >
                                    <div class="col-md12">
                                        <p> Acesse o site</p>
                                    </div>
                                    <div class="col-md12" style="";>
                                        <button class="login loginmodal-submit" onclick="showRegister()">Cadastrar</button>
                                    </div>
                                </div>
                        {% else %}
                            <div class="row" >
                                <div class="col-md12">
                                    <p> Acesse o painel de controle</p>
                                </div>
                                <div class="col-md12" style="";>
                                    <a href="/control/"><button class="login loginmodal-submit">Ir para o painel</button></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div class="col-md-12">
                            <p> Baixe o aplicativo na playstore</p>
                        </div>
                        <div class="col-md-12">
                        <a href='https://play.google.com/store/apps/details?id=com.ionicframework.scape771593&hl=pt_BR&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                            <img class="img-responsive" alt='Disponível no Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/pt-br_badge_web_generic.png'/></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>

            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> MyMobiConf é uma parte do sistema SCAPE(Sistema Sensível ao Contexto para Apoio à Participação em Eventos), o sistema possui duas interfaces principais, este website e uma aplicação para dispositivos móveis. </p>
                </div>
                <div class="col-lg-4">
                    <p>O projeto é coordanado pelo Professor Fabrício e Professora Thais da Universidade Federal de Viçosa - Campus Florestal. O sistema está sendo desenvolvido pelo NesPeD(Núcleo de Estudos em Sistemas Pervasivos e Distribuídos da UFV - Florestal)</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Crie seu evento no site!</h2>
                            <hr class="star-primary">
                            <img src="{%static 'img/portfolio/port1.jpg'%}" class="img-responsive img-centered" alt="">
                            <p>Comece criando seu evento em nosso site, preenchendo suas informações, ao terminar, seu evento automaticamente aparecerá em nosso aplicativo!</p>
                            <ul class="list-inline item-details">
                                {% comment %} <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li> {% endcomment %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Se inscreva em um evento</h2>
                            <hr class="star-primary">
                            <img src="{%static 'img/portfolio/screenshot_2.jpg'%}" class="img-responsive img-centered" alt="">
                            <p>Com o aplicativo em mãos, se inscreva em seu evento para ver suas informações, atividades, questionários, além de poder votar e enviar opiniões.</p>
                            <ul class="list-inline item-details">
                                {% comment %} <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li> {% endcomment %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Veja suas atividades</h2>
                            <hr class="star-primary">
                            <img src="{%static 'img/portfolio/screenshot_3.jpg'%}" class="img-responsive img-centered" alt="">
                            <p>Nosso aplicativo permite que você veja as atividades do evento separado por dia, além de pesquisar por nome, tema, apresentador.</p>
                            <ul class="list-inline item-details">
                                {% comment %} <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li> {% endcomment %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Se inscreva nas atividades e organize sua agenda</h2>
                            <hr class="star-primary">
                            <img src="{%static 'img/portfolio/screenshot_4.jpg'%}" class="img-responsive img-centered" alt="">
                            <p>Você pode se inscrever nas atividades que tiver interesse e ter sua própria agenda do evento, sempre recebendo notificações de quando a atividade está para começar, assim não perdendo nenhuma atividade!</p>
                            <ul class="list-inline item-details">
                                {% comment %} <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li> {% endcomment %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Responda a questionários</h2>
                            <hr class="star-primary">
                            <img src="{%static 'img/portfolio/screenshot_5.jpg'%}" class="img-responsive img-centered" alt="">
                            <p>É possível responder a questionários criados pelo organizador do evento no aplicativo, além de enviar opniões e dar notas para as atividades. Dando um feedback melhor para o organizador e possivelmente melhorar a próxima edição do evento!</p>
                            <ul class="list-inline item-details">
                                {% comment %} <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li> {% endcomment %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Obtenha resultados!</h2>
                            <hr class="star-primary">
                            <img src="{%static 'img/portfolio/port6.jpg'%}" class="img-responsive img-centered" alt="">
                            <p>Com o nosso painel de controle é possível monitorar sempre em tempo real o que todos os participantes de seu evento estão votando, opinando e respondendo aos questionários. Permitindo ao organizador do evento ter um grande feedback do seu evento de forma fácil e rápida!</p>
                            <ul class="list-inline item-details">
                                {% comment %} <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li> {% endcomment %}
                            </ul>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</body>
{% endblock %}

{% block footer_imports %}

    <script>
        window.onload = function(){
             var sPageURL = window.location.search.substring(1);
             var sURLVariables = sPageURL.split('&');
             //for (var i = 0; i < sURLVariables.length; i++) {
             var sParameterName = sURLVariables[0].split('='); // [i]
             if (sParameterName[0] == 'cadastrar' && sParameterName[1] == 'true') {
                 window.history.replaceState({}, document.title, "/");
                 $('#register-modal').modal('show');
             }
        }
    </script>

{% endblock %}
