{% extends 'header.html' %} {% load staticfiles %} {% block head %}
<style>
    .indent {
        text-indent: 5%;
        text-align: justify;
        margin-bottom: 20px;
    }

    .indent img {
        margin: 0 auto;
    }
</style>
{% endblock%} {% block content %}

<body id="page-top" class="index">
    <div id="skipnav">
        <a href="#maincontent">Skip to main content</a>
    </div>


    <section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Tutorial</h2>
                    <hr class="star-light">
                    <h3>Um pouco sobre como utilizar o sistema</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'control_panel' %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Ir para o painel de controle</span>
                </h3>
            </a>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
                    <h1> Tutorial</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <p> Obrigado por se cadastrar em nosso sistema! Caso tenha interesse em aprender como funciona nosso sistema,
                        continue a leitura abaixo, caso contrário, clique no botão acima para ir ao painel de controle ou
                        na barra acima e comece a cadastrar seus eventos!</p>
                    <br/>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12 indent">
                    <h1> 1. Painel de controle</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <img src="{% static 'img/tutorial/telaPainelControle.png' %}" class="img-responsive"></img>
                    <div>
                        <p>Esta é a primeira tela que você verá aqui no site, a partir dela você pode adicionar novos eventos,
                            acessá-los, editá-los ou removê-los. Para adicionar um novo evento, basta clicar no botão "<span class="fa fa-plus-circle"></span>
                            Novo Evento", assim após entrar com os dados e cadastrar o evento, ele aparecerá na lista. Em
                            seguida caso queira acessar o evento, editar ou excluir, basta clicar em algum dos 3 botões no
                            cartão do evento. Para acessar, você também pode clicar em algum espaço vazio dentro da área do cartão do evento.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12 indent">
                    <h1> 2. Acessar Evento</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <img src="{% static 'img/tutorial/telaAcessarEvento2.png' %}" class="img-responsive">
                    </br>
                    <div>
                        <p> Ao acessar um evento, você verá esta tela, a qual possui várias informações úteis de seu evento, a partir desta página, você poderá
                            gerenciar todo seu evento, desde a atividades, questionários, patrocinadores, administradores e feedbacks do evento. No primeiro card temos
                            as informações do evento, sigla, nome, descrição, data, entre outras.
                            Além disso, é possível modificar essas informações através dos botões de editar  <span class="glyphicon glyphicon-pencil"></span>,
                            &nbsp excluir o evento <span class="glyphicon glyphicon-trash"></span>
                            , &nbsp gerar um relatório com dados e estatísticas do evento &nbsp <span class="glyphicon glyphicon-print"></span> ,
                            &nbsp acompanhar informações do evento em tempo real &nbsp <span class="glyphicon glyphicon-dashboard"></span>
                            , &nbsp e em publicado, habilitar ou não sua aparição no APP.
                        </p>
                    </div>
                    </br>
                    <img src="{% static 'img/tutorial/telaAcessarEvento3.png' %}" class="img-responsive">
                    </br>
                    <div>
                        <p>
                            No segundo card temos as ações que podemos realizar com o evento. O primeiro botão "Lista de atividades" irá te levar
                            para a página que contém a lista de atividades daquele determinado evento, onde você poderá adicionar, editar e remover as atividades de seu evento.
                            O segundo botão "Patrocinadores" será responsável por permitir o cadastro dos patrocinadores do evento, definir relevância através de níveis e excluir.
                            Por fim, o terceiro botão "Notícias" é onde o organizador do evento informa os participantes sobre notícias e acontecimentos.
                        </p>
                    </div>

                    </br>
                    <img src="{% static 'img/tutorial/telaAcessarEvento4.png' %}" class="img-responsive">
                    </br>
                    <div>
                        <p>
                            No terceiro card é onde obtemos os feedbacks do evento. O primeiro botão "Ver/Inserir questionários" permite que você
                            poste questionários com perguntas relevantes, para que os participantes lhe retornem um feedback que contribua com o evento.
                            O segundo botão "Ver opiniões" será responsável por mostrar as opiniões dos usuários, gerar algumas estatísticas e nuvens de palavras. Lembrando que essas opiniões são livres, logo, podem escrever o que quiserem!
                            O terceiro botão "Ver notas atividades" é outra fonte de feedback, nessa opção o organizador consegue ver as notas que os usuários estão dando à cada atividade.
                        </p>
                    </div>

                    </br>
                    <img src="{% static 'img/tutorial/telaAcessarEvento5.png' %}" class="img-responsive">
                    </br>
                    <div>
                        <p>
                            No quarto card é possível ver os administradores do evento, ou seja, cada um deles pode fazer modificações no sistema.
                            Porém, esse privilégio só é concedido por administradores, então, se foi você quem criou o evento, você decide se mais alguém pode administrar também.
                            Para isso, basta ir em "<span class="fa fa-plus-circle"></span> Adicionar administrador" e inserir o email da pessoa. Caso mude de ideia, pode removê-la em "<span class="glyphicon glyphicon-trash"></span>".
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12 indent">
                    <h1> 3. Lista de atividades</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <img src="{% static 'img/tutorial/telaListaAtividades.png' %}" class="img-responsive"></img>
                    <div>
                        <p>Ao acessar a lista de atividades, você será redirecionado para esta tela. Nela você consegue ver em forma de lista ordenada, por data, todas
                            as atividades de seu evento. Para adicionar alguma nova atividade, clique no botão "<span class="fa fa-plus-circle"></span> Nova Atividade" que você será levado para página
                            para preencher as informações da atividade, assim que concluir, sua atividade aparecerá nesta lista. Caso clique em alguma atividade
                            na lista, você será levado para página de detalhamento da atividade. Também há os dois botões, um azul e outro vermelho no canto direito
                            de cada atividade, estes botões servem para ir para página de editar ou excluir uma determinada atividade.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12 indent">
                    <h1> 4. Acessar atividade</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <img src="{% static 'img/tutorial/telaDetalheAtividade2.png' %}" class="img-responsive"></img>
                    </br>
                    <div>
                        <p>Após clicar em alguma atividade, você será levado para esta página, ela contém as informações da atividade e as ações disponíveis
                            . No primeiro card você possui as informações como nome, data, hora, local, etc; e no segundo card você possui dois botões, editar e
                            excluir, que respectivamente lhe permite alterar alguma informação da atividade e excluir.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12 indent">
                    <h1> 5. Lista de patrocinadores</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <img src="{% static 'img/tutorial/telaPatrocinador1.png' %}" class="img-responsive"></img>
                    </br>
                    <div>
                        <p>Ao acessar a opção de patrocinadores, você será redirecionado para esta tela. Nela você consegue ver em forma de lista ordenada, por prioridade, todos
                            os patrocinadores de seu evento. Para adicionar algum novo, clique no botão "<span class="fa fa-plus-circle"></span> Novo Patrocinador" que você será levado para página
                            para preencher as informações do patrocinador, assim que concluir, seu patrocinador aparecerá nesta lista. Também há os dois botões, um azul e outro vermelho abaixo
                            de cada patrocinador, estes botões servem para ir à página de editar ou excluir um determinado patrocinador.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12 indent">
                    <h1> 6. Adicionar patrocinador</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <img src="{% static 'img/tutorial/telaPatrocinador2.png' %}" class="img-responsive"></img>
                    </br>
                    <div>
                        <p> Ao clicar em "<span class="fa fa-plus-circle"></span> Novo Patrocinador", você será redirecionado para esta página. Nela você consegue inserir o nome do patrocinador,
                            o link do site, caso tenha, um link onde a imagem ou logo da empresa está hospedado e a prioridade deste patrocínio, ou seja, sua relevância para o evento. O nível de relevância
                            é baseado em pedras preciosas, logo, "Diamante" representa o patrocínio mais relevante e "Bronze" o menos relevante.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12 indent">
                    <h1> 7. Lista de notícias</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <img src="{% static 'img/tutorial/telaListaNoticias.png' %}" class="img-responsive"></img>
                    </br>
                    <div>
                        <p>Ao acessar a opção de notícias, você será redirecionado para esta tela. Nela você consegue ver em forma de lista ordenada, por data, todas
                            as notícias de seu evento. Para adicionar alguma nova notícia, clique no botão "<span class="fa fa-plus-circle"></span> Nova Notícia" que você será levado para página
                            para preencher as informações da notícia, assim que concluir, sua atividade aparecerá nesta lista. Caso clique em alguma notícia
                            na lista, você será levado para página de detalhamento da notícia. Também há os dois botões, um azul e outro vermelho no canto direito
                            de cada notícia, estes botões servem para ir para página de editar ou excluir uma determinada notícia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12 indent">
                    <h1> 8. Acessar Notícias</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <img src="{% static 'img/tutorial/telaDetalhaNoticias.png' %}" class="img-responsive"></img>
                    </br>
                    <div>
                        <p>Após clicar em alguma notícia, você será levado para esta página, ela contém as informações da notícia e as ações disponíveis.
                            . No primeiro card você possui as informações como título, data, hora e corpo; e no segundo card você possui dois botões, editar e
                            excluir, que respectivamente lhe permite alterar alguma informação da notícia e excluir.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12 indent">
                    <h1> 9. Lista de questionários</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <img src="{% static 'img/tutorial/telaListaQuestionarios.png' %}" class="img-responsive"></img>
                    </br>
                    <div>
                        <p>Ao acessar a lista de questionários, você será redirecionado para esta tela. Nela você consegue ver em forma de lista todos
                            os questionários de seu evento. Para adicionar algum novo questionário, clique no botão "<span class="fa fa-plus-circle"></span> "Novo Questionário" que você será levado para página
                            para preencher as informações do questionário, assim que concluir, seu questionário aparecerá nesta lista. Caso clique em algum questionário
                            na lista, você será levado para página de detalhamento do questionário. Também há os dois botões, um azul e outro vermelho no canto direito
                            de cada atividade, estes botões servem para ir para página de editar ou excluir um determinado questionário.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12 indent">
                    <h1> 10. Acessar questionários</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <img src="{% static 'img/tutorial/telaDetalhaQuestionarios1.png' %}" class="img-responsive"></img>
                    </br>
                    <div>
                        <p>Após clicar em algum questionário, você será levado para esta página, ela contém as informações do questionário e as ações disponíveis.
                            No primeiro card você possui as informações como nome, atividade e evento; e no segundo card você possui dois botões, editar e
                            excluir, que respectivamente lhe permite alterar ou excluir algum questionário.
                        </p>
                    </div>
                    </br>
                    <img src="{% static 'img/tutorial/telaDetalhaQuestionarios2.png' %}" class="img-responsive"></img>
                    </br>
                    <div>
                        <p>Além das informações que descrevem o questionário, há também os gráficos que contêm as perguntas junto das respostas que esses questionários obtiveram.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12 indent">
                    <h1> 11. Acessar opiniões</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <img src="{% static 'img/tutorial/telaOpinioes1.png' %}" class="img-responsive"></img>
                    </br>
                    <div>
                        <p> Ao entrar em opiniões, haverá uma tabela contendo estatísticas relacionadas às opiniões e submissões do evento.
                            Em seguida, existem as opções de filtro para pesquisa. Caso queira ver todas opinões, basta deixar o campo de busca vazio.
                            Além disso, há ainda outras opções de filtros que estão detalhadas em cada campo.
                        </p>
                    </div>
                    </br>
                    <img src="{% static 'img/tutorial/telaOpinioes2.png' %}" class="img-responsive"></img>
                    </br>
                    <div>
                        <p> Há também a função de gerar uma Word Cloud (Nuvem de palavras) que exibem em nível de densidade e tamanho, quais palavras apareceram mais nos comentários de acordo com uma quantidade mínima de ocorrências.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12 indent">
                    <h1> 12. Relatório do evento</h1>
                </div>
                <div class="col-md-12 col-sm-12 indent">
                    <img src="{% static 'img/tutorial/telaRelatorio1.png' %}" class="img-responsive"></img>
                    </br>
                    <div>
                        <p> Ao entrar em relatório do evento, é possível que você faça um compilado das informações do evento em apenas uma página, que é útil para salvar ou imprimir esses registros, ou tê-los facilmente para analisar.
                            Para isso, basta selecionar as opções disponíveis na tela acima, para abrí-las, basta clicar na seta verde. E para limpar tudo, clique no símbolo de atualizar <span class="glyphicon glyphicon-refresh"></span> ao lado de "Voltar".
                        </p>
                    </div>
                    </br>
                    <img src="{% static 'img/tutorial/telaRelatorio2.png' %}" class="img-responsive"></img>
                    </br>
                    <div>
                        <p> Assim que terminar de escolher o que deseja inserir no relatório, clique no botão "Gerar relatório" e então aparecerá as informações logo abaixo. Caso queira guardar estes dados, basta clicar no botão com ícone
                            de impressora <span class="glyphicon glyphicon-print"></span>, ao lado de "Relatório do evento", nesse botão é possível que você imprima ou salve o relatório gerado.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
{% endblock %}
