{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>


	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Atividades</h2>
                    <hr class="star-light">
                    <h3>{{ evento.sigla }}</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'detalhe_evento_adm' id_evento=evento.id%}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>
    <section id="portfolio">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                {% if evento.privacidade == 1%}
                <div class="col-md-12">
					<h1> Atividades <a style="font-size:25px" href="novo/"><span class="fa fa-plus-circle"></span>Nova Atividade</a> </h1>
                </div>
                {% endif %}
                <div class="col-md-12 col-xs-12 col-lg-12">
                {% for data_ativ in lista_data_ativ %}
                <h3>{{ data_ativ.data }}</h3>
                <table class="table table-striped">
                    <tbody>
                    {% for ativ in data_ativ.atividades %}
                        <tr>
                            <td><a href="{{ativ.id}}/" style="color: black;">{{ ativ.nome }}</a></td>
                            {% if evento.privacidade == 1%}
                            <td style="text-align: right; padding-right: 1.5em;">
                                <a href="{{ativ.id}}/editar/?previous=lista_ativ" style="padding-right: 1em;" title="Editar"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a>
                                <a title="Deletar"><button class="btn btn-danger btn-xs" onclick="alterarModal({{ativ.id}})" data-title="Deletar" data-toggle="modal" data-target="#deletar-modal" ><span class="glyphicon glyphicon-trash"></span></button></a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endfor %}
                {% if atividades.has_other_pages %}
                    <ul class="pagination">
                    {% if atividades.has_previous %}
                        <li><a href="?page={{ atividades.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in atividades.paginator.page_range %}
                        {% if atividades.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if atividades.has_next %}
                        <li><a href="?page={{ atividades.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                    </ul>
                {% endif %}
                </div>

                
			</div>
		</div>
	</section>

    <script>
        function alterarModal(idAtividade){
			document.getElementsByName("form-modal")[0].setAttribute("action", "" + idAtividade + "/deletar/");

		}
    </script>

    <div class="modal fade" id="deletar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1>Você tem certeza que deseja deletar esta atividade?</h1>
                <p>Atividades com mais de um dia também serão deletadas!!</p><br/><br>
                <form name="form-modal" action="" method="post">
                    {% csrf_token %}
                    <input type="submit" name="login" class="login loginmodal-submit" value="Confirmar">
                </form>
                </div>
          </div>
    </div>

</body>
{% endblock %}