{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/star-rating.css' %}">
    <script src="{%static 'js/star-rating.js'%}"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>


{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>


	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Atividade</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </section>

    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'lista_atividades_adm' id_evento=id_evento %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>

	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Atividade</h1>
				</div>
                <div class="col-md-12 col-sm-12">
                    <div class="d-inline">
                        <h3>Nome: </h3>
                        <p>{{atividade.nome}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline">
                        <h3>Data: </h3>
                        <p>{{atividade.data|date:"j"}} {{ atividade.data|date:"M" }} {{ atividade.data|date:"Y" }}  </p>
                        <h3>   Hora: </h3>
                        <p>{{atividade.hora_inicio}} até {{atividade.hora_fim}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline">
                        <h3>Local: </h3> <p>{{atividade.id_local.nome}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline">
                        <h3>Tema: </h3> <p>{{atividade.tema}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline">
                        <h3>Tipo: </h3> <p>{{atividade.id_tipo.nome}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline">
                        <h3>Responsável: </h3> <p>{{atividade.responsavel}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline" style="text-align:justify;">
                        <h3>Descrição: </h3> <p>{{atividade.descricao}}</p>
                        <br/><br/>
                    </div>
				</div>
                <div class="col-md-4 col-sm-4">

                </div>
			</div>
		</div>
    </section>

    <section id="portfolio" style="padding-top: -20px;">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
                    <h1>Notas Atividade</h1>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                    <p><b>Avaliação</b></p>
                    <input id="nota" name="nota" type="number">
                    <p>Nota: {{nota}}</p>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                    <p><b>Térmico</b></p>
                    <input id="nota_term" name="nota_term" type="number">
                    <p>Nota: {{nota_term}}</p>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center"> <!-- col-xs-4 não deixa ir para a linha de baixo em telas tipo de celulares -->
                    <p><b>Sonoro</b></p>
                    <input id="nota_som" name="nota_som" type="number">
                    <p>Nota: {{nota_som}}</p>
                </div>
                <div class="col-md-12" style="margin-bottom: 20px;">
                    <span style="margin-bottom: 20px;"></span>
                </div>
			</div>
		</div>
	</section>

    <script>
        $(document).ready(function() {
            var nota = "{{nota}}";
            nota = parseFloat(nota.replace(",","."));
            $('#nota').rating({min:0,max:5,step:0.1, displayOnly: true});
            $('#nota').rating('update', nota);

            var nota_som = "{{nota_som}}";
            nota_som = parseFloat(nota_som.replace(",","."));
            $('#nota_som').rating({min:0,max:5,step:0.1, displayOnly: true, filledStar:"<i class='fas fa-volume-up'></i>", emptyStar:"<i class='fas fa-volume-up'></i>"});
            $('#nota_som').rating('update', nota_som);

            var nota_term = "{{nota_term}}";
            nota_term = parseFloat(nota_term.replace(",","."));
            $('#nota_term').rating({min:0,max:5,step:0.1, displayOnly: true, emptyStar:"<i class='fas fa-thermometer-empty'></i>", filledStar:"<i class='fas fa-thermometer-full'></i>"});
            $('#nota_term').rating('update', nota_term);

          });
</script>
</body>


{% endblock %}
