{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/formsDetalhes.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
    <script>
        $(function(){
            // Find any date inputs and override their functionality
            $("#datainicio").datepicker({
                format: "yyyy-mm-dd",
            });
            $("#datafim").datepicker({
                format: "yyyy-mm-dd",
            });
        });
    </script>

    <script src="{% static 'js/moment.min.js' %}"></script>

    <link rel='stylesheet' href="{% static 'css/timepicki.css'%}">
    <script src="{% static 'js/timepicki.js' %}" ></script>
    


{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    {%if cadastro_completo %}
    <div class="modal fade" id="cadastro-evento-complete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if sucesso %}
                        <h1>Edição concluída! </h1><br>
                        <p style="text-align: justify; float:right">Atividade editada com sucesso.</p>
                        <br/>
                        <br/>
                        <input type="submit" onclick="window.location.href='../../'" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Voltar as atividades">
                    {% else %}
                        <h1>Erro ao editar atividade</h1><br>
                        <p style="text-align: justify; float:right">Ocorreu um erro ao editar a atividade. Certifique-se de que preencheu corretamente todos os campos.</p>
                        <br/>
                        <br/>
                        <input type="submit" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Ok">
                    {% endif %}
				</div>
          </div>
    </div>
    {% endif %}
	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Painel de controle</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </section>

    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% if request.GET.previous == "lista_ativ" %}{% url 'lista_atividades_adm' id_evento=id_evento%}{% else %}{% url 'detalhe_atividade_adm' id_evento=id_evento id_atividade=atividade.id %}{% endif %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>

	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Editar Atividade</h1>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                    <form action="#" method="post" role="form" data-toggle="validator">
                        <p> Por favor, insira os dados de sua atividade, esses dados serão exibidos na página de eventos de atividades do aplicativo.</p>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class='control-label' for="nome">Nome <span style="color:red">*</span></label>
                            <input type="text" value="{{atividade.nome}}" maxlength="200" class="form-control" name="nome" id="nome" placeholder="Nome da atividade" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="tema">Tema<span style="color:red">*</span></label>
                            <input type="text" value="{{atividade.tema}}" maxlength="200" class="form-control" name="tema" id="tema" placeholder="Tema da atividade" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <p>As atividades serão replicadas da data inicial até a data final. Edições irão alterar em todos os dias!!</p>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6" >
                                <label for="datainicio">Data início <span style="color:red">*</span></label>
                                <input type="date" value="{{data}}" class="form-control" name="datainicio" id="datainicio" data-match-error="Preencha este campo" required >
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="datafim">Data fim <span style="color:red">*</span></label>
                                <input type="date" value="{{dataUltima}}"class="form-control" name="datafim" id="datafim" data-match-error="Preencha este campo" required>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="horainicio">Hora Início <span style="color:red">*</span></label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' value="{{atividade.hora_inicio}}" class="form-control" name="horainicio" id="horainicio" onblur="checaHora()" data-match-error="Preencha este campo" required />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-6">
                                <label for="horafim">Hora fim <span style="color:red">*</span></label>
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' value="{{atividade.hora_fim}}" class="form-control" name="horafim" id="horafim" onblur="checaHora()" data-match-error="Preencha este campo" required />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="descricao">Descrição</label>
                            <textarea type="text" rows="5" class="form-control" maxlength="2500" name="descricao" id="descricao" placeholder="Informações gerais da atividade">{{atividade.descricao}}</textarea>
                        </div>

                        <!--<div class="row">
                        <div class="form-group col-md-4 col-sm-4">
                            <label for="datainicio">Data Início<span style="color:red">*</span></label>
                            <input type="date" class="form-control" name="datainicio" id="datainicio" placeholder="https://s11.postimg.org/vt3l7nhtf/logo_inovar.png" data-match-error="Preencha este campo" required >
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            <label for="datafim">Data fim <span style="color:red">*</span></label>
                            <input type="date" class="form-control" name="datafim" id="datafim" placeholder="https://s11.postimg.org/vt3l7nhtf/logo_inovar.png" data-match-error="Preencha este campo" required>
                        </div>
                        <div class="col-md-4 col-sm-4"></div>
                        </div> -->
                        <div class="form-group">
                            <label for="local">Local <span style="color:red">*</span></label>
                            <input type="text" value="{{atividade.id_local.nome}}" maxlength="200" class="form-control" name="local" id="local" placeholder="Sala, palco ..." required>
                        </div>
                        <div class="form-group">
                            <label for="responsavel">Responsável <span style="color:red">*</span></label>
                            <input type="text" value="{{atividade.responsavel}}" maxlength="2000" class="form-control" name="responsavel" id="responsavel" placeholder="Palestrante, apresentador ..." required>
                        </div>
                        <div class="form-group">
                            <label for="tipo">Tipo da atividade <span style="color:red">*</span></label>
                            <select class="form-control" name="tipo" id="tipo" required>
                            {% for tipo in listaTipos %}
                                <option value="{{ tipo.id }}" {% if tipo.id == atividade.id_tipo.id%} selected {%endif%}>
                                    {{tipo.nome}}
                                </option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <!--<input type="submit" name="login" class="login loginmodal-submit" value="Cadastrar">-->
                            <button type="submit" id="botao_register" class="btn login loginmodal-submit">Editar</button>
                        </div>
                        <script>

                            document.getElementsByName("horainicio")[0].addEventListener('change', resetaData);
                            /* function */
                            function resetaData(){
                               document.getElementsByName("horafim")[0].value = "";
                               document.getElementsByName("horafim")[0].setAttribute("min", this.value);
                            }

                            function checaHora(){
                                if(document.getElementsByName("horafim")[0].value < document.getElementsByName("horainicio")[0].value && document.getElementsByName("horafim")[0].value != "") {
                                    document.getElementsByName("horafim")[0].value = "";
                                    alert("Hora final deve ser menor que hora inicial!");
                                }
                            }
                        </script>


                        <!--div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out
                            </label>
                        </div>-->
                    </form>
				</div>
			</div>
		</div>
    </section>
    
    <script type='text/javascript'> 
        $('#horainicio').timepicki({show_meridian:false}); 
        $('#horafim').timepicki({show_meridian:false}); 
        $(document).ready(function() {
            $('#datainicio').datepicker().on('changeDate', function(ev) {
                var date2 = $(this).val()
                $("#datafim").val(''); 
                $("#datafim").datepicker("destroy");
                $("#datafim").datepicker({
                    format: "yyyy-mm-dd",
                    startDate: date2
                });
            });

            });
    </script>


</body>
{% endblock %}

{% block footer_imports %}
    {% if cadastro_completo %}
        <script src="{%static 'js/newEventComplete.js'%}"></script>
    {% endif %}
        
{% endblock %}
