{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabelas.css' %}">
    <link rel="stylesheet" href="{% static 'css/graficos.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkBox.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkBoxRelatorio.css' %}">
    <link rel="stylesheet" href="{% static 'css/radioButton.css' %}">
    <link rel="stylesheet" href="{% static 'css/toggleSwitch.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchButton.css' %}">
    <link rel="stylesheet" href="{% static 'css/rangeSlider.css' %}">
    <link rel="stylesheet" href="{% static 'css/star-rating.css' %}">
    <script type="text/javascript" src="{% static 'js/relatorioEvento.js' %}"> </script>
    <script src="{%static 'js/star-rating.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/printEstatisticas.js' %}"> </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <style>
        .indent {
            text-indent: 5%;
            text-align: justify;
            margin-bottom: 20px;
        }

    </style>

{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>


	<section id="portfolio" class="control_panel">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Relatório</h2>
                    <hr class="star-light">
                    <h3>{{evento.sigla}}</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">

            <a href="{% url 'detalhe_evento_adm' id_evento=evento.id %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar &nbsp</span>
                    <span>
                        <a href="{% url 'relatorio_adm' id_evento=evento.id %}">
                            <span title="Atualizar" class="glyphicon glyphicon-refresh" style="font-size:1.0em;"></span>
                        </a>
                    </span>
                </h3>
            </a>

        </div>
    </div>
    </br>

    <section>
            <div class="container">
                    <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                        <div class="col-md-12">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <h3> Estatísticas </h3>

                                    <div class="col-sm-6">
                                        <label class="checkBox" style="font-size: 15px;">Estatísticas gerais do evento
                                            <input onclick="habilitaBotao()" type="checkbox" name="checkboxRelatorio" value="1" "{%if "1" in checkboxMarcadosRelatorio %} checked {% endif %}">
                                            <span class="checkmarkCheckBox"></span>
                                        </label>
                                            <label class="checkBox" style="font-size: 15px;"> Estatísticas gerais das opiniões
                                            <input onclick="habilitaBotao()" type="checkbox" name="checkboxRelatorio" value="2" "{%if "2" in checkboxMarcadosRelatorio %} checked {% endif %}">
                                        <span class="checkmarkCheckBox"></span>
                                        </label>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="checkBox" style="font-size: 15px;">Estatísticas gerais das atividades
                                            <input onclick="habilitaBotao()" type="checkbox" name="checkboxRelatorio" value="3" "{%if "3" in checkboxMarcadosRelatorio %} checked {% endif %}">
                                            <span class="checkmarkCheckBox"></span>
                                        </label>
                                        <label class="checkBox" style="font-size: 15px;"> Média das notas das atividades
                                            <input onclick="habilitaBotao()" type="checkbox" name="checkboxRelatorio" value="4" "{%if "4" in checkboxMarcadosRelatorio %} checked {% endif %}">
                                            <span class="checkmarkCheckBox"></span>
                                        </label>
                                    </div>

                                <h3> Questionários
                                <a style="text-decoration: none;" onclick="mudaEstado('quest', 'setaQuestionario')" href="javascript:void(0);" id="setaQuestionario">
                                    <span style="font-size:1.0em;"></span>
                                </a>

                                </h3>

                                <div style="margin-left: 5%; margin-top: 1.5%;" id="quest">

                                    <div style="margin-top: -0.5%;">

                                        <label class="checkBox" style="font-size: 15px;">Selecionar todos
                                            <input type="checkbox" name="checkboxQuestionarioRelatorio" value="-1" onclick="marcarCheckboxs('checkboxQuestionarioRelatorio')" {% if "-1" in checkboxMarcadosQuestionario %} checked {% endif %}>
                                            <span class="checkmarkCheckBoxRelatorio"></span>
                                        </label>
                                        {% for q in listaQuestionarios %}
                                        <label class="checkBox" style="font-size: 15px;">{{q.nome}} {% if q.id_atividade %}  ({{q.id_atividade.nome}}) {% else %} (Questionário do evento) {% endif %}
                                            <input onclick="habilitaBotao()" type="checkbox" name="checkboxQuestionarioRelatorio" value="{{q.id}}" "{%if q.id|stringformat:"i" in checkboxMarcadosQuestionario %} checked {% endif %}">
                                            <span class="checkmarkCheckBoxRelatorio"></span>
                                        </label>
                                        {% endfor %}

                                    </div>

                                </div>

                                <h3> Opiniões
                                <a style="text-decoration: none;" onclick="mudaEstado('opinioes', 'setaOpinioes')" href="javascript:void(0);" id="setaOpinioes">
                                    <span style="font-size:1.0em;"></span>
                                </a>

                                </h3>

                                <div style="margin-left: 5%;" id="opinioes">
                                    <fieldset id="radioOpinioes">
                                            <div class="form-group">


                                                <label class="container_radioButton"> Ignorar opiniões
                                                    <input type="radio" onclick="habilitaTextNumber();" checked name="intervaloOpinioes" value="0" "{%if "0" in radiobuttonMarcadosOpinioes %} checked {% endif %}">
                                                    <span class="checkmarkRadioButton"></span>
                                                </label>

                                                <label class="container_radioButton"> Exibir todas as opiniões começando da primeira até a última
                                                    <input type="radio" onclick="habilitaTextNumber();" name="intervaloOpinioes" value="1" "{%if "1" in radiobuttonMarcadosOpinioes %} checked {% endif %}">
                                                    <span class="checkmarkRadioButton"></span>
                                                </label>

                                                <label class="container_radioButton">Exibir todas as opiniões começando da última até a primeira
                                                    <input type="radio" onclick="habilitaTextNumber();" name="intervaloOpinioes" value="2" "{%if "2" in radiobuttonMarcadosOpinioes %} checked {% endif %}">
                                                    <span class="checkmarkRadioButton"></span>
                                                </label>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label class="container_radioButton">Definir uma quantidade
                                                            <input type="radio" onclick="habilitaTextNumber();" name="intervaloOpinioes" value="3" "{%if "3" in radiobuttonMarcadosOpinioes %} checked {% endif %}">
                                                            <span class="checkmarkRadioButton"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <input style="margin-left: 1.0%; width: 7.5%;" type="number" id="maximoOpinioes" name="qtdOpinioesNumber" value="{{qtdOpinioes}}">
                                                    </div>
                                                </div>

                                                <div class="row" id="ordemQuantidade">
                                                    <div class="col-sm-4" style="margin-left: 2%;">
                                                    <label class="container_radioButton" style="font-size: 13px;">Começando da primeira até a última
                                                        <input type="radio" name="intervaloOpinioesFiltro" checked value="1" "{%if "1" in radiobuttonMarcadosOpinioesFiltro %} checked {% endif %}" >
                                                        <span class="checkmarkRadioButton"></span>
                                                    </label>
                                                    <label class="container_radioButton" style="font-size: 13px;">Começando da última até a primeira
                                                        <input type="radio" name="intervaloOpinioesFiltro" value="2" value="2" "{%if "2" in radiobuttonMarcadosOpinioesFiltro %} checked {% endif %}">
                                                        <span class="checkmarkRadioButton"></span>
                                                    </label>
                                                </div>

                                            </div>
                                        <div class="form-group" >

                                            <p>Filtrar: </p>

                                            <input type="text" style="width: 34.2%;" placeholder = "Digite uma palavra ou frase... (Opcional)" "{% if "0" in radiobuttonMarcadosOpinioes %} value = "" {% else %} value="{{request.POST.palavraschave}}" {% endif %}" name="palavraschave" id="pesquisa" maxlength="20" data-match-error="Preencha este campo">
                                            <div class="help-block with-errors"></div>
                                        </div>

                            </fieldset>
                            <div class="help-block with-errors"></div>

                            </div>

                            <h3> WordCloud
                            <a style="text-decoration: none;" onclick="mudaEstado('wordcloud', 'setaWordCloud')" href="javascript:void(0);" id="setaWordCloud">
                                <span style="font-size:1.0em;"></span>
                            </a>

                            </h3>

                            <div style="margin-left: 5%;" id="wordcloud">

                                <label class="checkBox" style="font-size: 15px;">Adicionar WordCloud
                                    <input onclick="habilitaBotao()" type="checkbox" name="checkboxWordCloud" value="1" "{%if "1" in checkboxMarcadosWordCloud %} checked {% endif %}">
                                    <span class="checkmarkCheckBox"></span>
                                </label>


                                <div class="slidecontainer">


                                  <p style="font-size: 15px;">Este valor representa a quantidade mínima de vezes que uma palavra deve aparecer para compôr a WordCloud. </br> (Sugestão: valores maiores ou iguais à 3):</p>
                                  </br></br>
                                  <input type="range" onchange="verifica()" min="1" max="100" class="sliderWC" id="sliderWordCloud" name="pesoWordCloud" "{%if pesoPalavras %} value = {{pesoPalavras}} {% else %} value='1' {% endif %}">
                                </div>
                                </br>
                                <p style="font-size: 15px;">Valor: <span id="valorExibicaoWC"></span> entre (1,100)</p>
                                    </br>
                                    </br>

                            </div>


                            <div class="form-group" >
                              <button type="submit" id="botao_relatorio" class="btn login loginmodal-submit">Gerar relatório</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </section>

        {% if relatorioDisponivel %}
        <div id="div-imprimir" class="container">

        <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">

            <div class="col-md-12">
                <table>
                    <tr>
                        <td>
                            <div >
                                <h1>Relatório do evento</h1>
                            </div>
                        </td>
                        <td style="text-align: left; padding-right: 1.5em; ">
                            <div style="margin-top: 20%; margin-left: 20%;">
                                <a style="padding-right: 1em;" onclick="printElem('div-imprimir');" title="Imprimir ou salvar dados gerados"><button style="font-size: 110%;" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-print"></span></button></a>
                            </div>
                        </td>
                    </tr>
                </table>
                </br>
            </div>

            {% if exibir1 %}

                        <div class="col-md-12">
                            <h3>Estatísticas gerais do evento</h3>
                            </br>
                        </div>
                        <div>
                            <table style="margin-top: 2%;" id="menu1" class="tablePersonalizada">
                                <tr>
                                    <th colspan="4"><div style="text-align: center"><p><font size=4>ESTATÍSTICAS</font></p></div></th>
                                </tr>
                                <tr>
                                    <td colspan="3"><div ><p>Administradores cadastrados no evento:</p></div></td>
                                    <td><div style="text-align: center"><p>{{numUsuarios}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div ><p>Participantes cadastrados no evento:</p></div></td>
                                    <td><div style="text-align: center"><p>{{numParticipantes}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div ><p>Número de atividades cadastradas:</p></div></td>
                                    <td><div style="text-align: center"><p>{{numAtividades}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div ><p>Número de questionários cadastrados:</p></div></td>
                                    <td><div style="text-align: center"><p>{{numQuestionarios}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div ><p>Número de patrocinadores cadastrados:</p></div></td>
                                    <td><div style="text-align: center"><p>{{numPatrocinadores}}</p></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><div ><p>Número de notícias cadastradas:</p></div></td>
                                    <td><div style="text-align: center"><p>{{numNoticias}}</p></div></td>
                                </tr>
                            </table>
                            </br>
                        </div>


            {% endif %}
            {% if exibir2 %}

                    <div class="col-md-12">
                        <h3>Estatísticas gerais das opiniões</h3>
                        </br>
                    </div>
                    <div>
                        <table style="margin-top: 2%" id="menu1" class="tablePersonalizada">
                            <tr>
                                <th colspan="4"><div style="text-align: center"><p><font size=4>ESTATÍSTICAS</font></p></div></th>
                            </tr>
                            <tr>
                                <td colspan="3"><div ><p>Total de opiniões enviadas:</p></div></td>
                                <td><div style="text-align: center"><p>{{totalOpinioes}}</p></div></td>
                            </tr>
                            <tr>
                                <td colspan="3"><div><p>Participantes cadastrados no evento:</p></div></td>
                                <td><div style="text-align: center"><p>{{numParticipantesOpiniao}}</p></div></td>
                            </tr>
                            <tr>
                                <td colspan="3"><div><p>Média de opiniões por participante:</p></div></td>
                                <td><div style="text-align: center"><p>{{mediaOpiniao|floatformat:2}}</p></div></td>
                            </tr>
                            <tr>
                                <td colspan="3"><div><p>Participante que mais opinou:</p></div></td>
                                <td><div style="text-align: center"><p>{{usuarioMaisOpinou}}</p></div></td>
                            </tr>
                            <tr>
                            <td colspan="3"><div><p>Participante que menos opinou:</p></div></td>
                                <td><div style="text-align: center"><p>{{usuarioMenosOpinou}}</p></div></td>
                            </tr>
                        </table>
                        </br>
                    </div>

            {% endif %}
            {% if exibir3 %}

                    <div class="col-md-12">
                        <h3>Estatísticas gerais das atividades</h3>
                        </br>
                    </div>
                    <div>
                        <table style="margin-top: 2%" id="menu1" class="tablePersonalizada">
                            <tr>
                                <th colspan="4"><div style="text-align: center"><p><font size=4>ESTATÍSTICAS</font></p></div></th>
                            </tr>
                            <tr>
                                    <td colspan="4"><div style="text-align: center"><p><b>Submissões</b></p></div></td>
                            </tr>
                            <tr>
                                <td><div style="text-align: center"><p>Notas atividades</p></div></td>
                                <td><div style="text-align: center"><p>Térmica</p></div></td>
                                <td><div style="text-align: center"><p>Sonoro</p></div></td>
                                <td><div style="text-align: center"><p>Total</p></div></td>

                            </tr>
                            <tr>
                                <td ><div style="text-align: center"><p>{{qtdNotaAtividade}}</p></div></td>
                                <td ><div style="text-align: center"><p>{{qtdNotaTermica}}</p></div></td>
                                <td ><div style="text-align: center"><p>{{qtdNotaSonora}}</p></div></td>
                                <td ><div style="text-align: center"><p>{{numSubmissoes}}</p></div></td>

                            </tr>
                            <tr>
                                <td colspan="3"><div ><p>Participantes cadastrados no evento:</p></div></td>
                                <td><div style="text-align: center"><p>{{numParticipantesAvaliacao}}</p></div></td>
                            </tr>
                            <tr>
                                <td colspan="3"><div ><p>Média de submissões por participantes:</p></div></td>
                                <td><div style="text-align: center"><p>{{mediaSubmissoes|floatformat:2}}</p></div></td>
                            </tr>
                        </table>
                        </br>
                    </div>

            {% endif %}

            {% if exibir4 %}
                <div class="col-md-12">
                    <h3>Média das notas das atividades</h3>
                    </br>
                </div>

                <div>
                    <table style="margin-top: 2%;" id="menu1" class="tablePersonalizada">
                        <tr>
                            <th colspan="4"><div style="text-align: center"><p><font size=4>NOTAS DO EVENTO</font></p></div></th>
                        </tr>

                        <tr>

                            <td><div style="text-align: center"><p>Avaliação</p></div></td>
                            <td><div style="text-align: center"><p>Térmico</p></div></td>
                            <td><div style="text-align: center"><p>Sonoro</p></div></td>

                        </tr>

                        <tr>

                            <td><div style="text-align: center"><p>{{mediaAtividadeGrafica|floatformat:2}}</p></div></td>
                            <td><div style="text-align: center"><p>{{mediaTermicaGrafica|floatformat:2}}</p></div></td>
                            <td><div style="text-align: center"><p>{{mediaSonoraGrafica|floatformat:2}}</p></div></td>

                        </tr>


                    </table>
                    </br>
                </div>

                <div style="margin-left: 27.5%;">
                    <font>Avaliação: (0 - Péssimo | 5 - Excelente)</font></br>
                    <font>Térmico: (0 - Muito frio | 5 - Muito quente)</font></br>
                    <font>Sonoro: (0 - Muito baixo | 5 - Muito alto)</font></br>
                </div>

                </br>



            {% endif %}



            {% if exibir5 %}
                <div class="col-md-12">
                    <h3>Gráficos dos questionários</h3>
                    </br>
                </div>

                {%  for q in questionario_e_atividade %}

                    <div class="col-md-12">
                        <h4>{{q.0}} {% if q.1 %}  ({{q.1.nome}}) {% else %} (Questionário do evento) {% endif %}</h4>
                        </br>
                    </div>

                    {% load index %}

                    {% for p in lista_perguntas|index:forloop.counter0 %}

                        <hr class="questions__divisor">
                        <div class="col-md-12" style="padding-bottom: 25px;">
                            <div class="pergunta2">
                                <span class="pergunta__title">{{p.pergunta.pergunta}}</span>
                                <span class="pergunta__text">
                                        {{p.pergunta.pergunta}}
                                </span>
                            </div>
                            <div class="respostas">
                                <div class="respostas__title">
                                    RESPOSTAS
                                </div>
                                {% for resposta in p.respostas%}
                                <div class="respostas__resposta">
                                    <span class="respostas__resposta__title">{{resposta.resposta}} ({{resposta.respostaparticipante_set.count}}) --- <b>{{resposta.porcentagem}}%</b></span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                    {% endfor %}

                {% endfor %}

            {% endif %}

            {% if exibir6 %}
                {% if qtdOpinioes == 0 %}
                                <div class="col-md-12">
                                    <div class="well">
                                        <p> Nenhuma opinião correspondente </p>
                                    </div>
                                </div>
                    </br>


                {% else %}
                        <div class="col-md-12">

                            <h3> Opiniões do evento </h3>
                            </br>
                        </div>
                        <div class="col-md-12">
                            <div class="well">
                                {% if qtdOpinioes == 1 %}
                                <p> {{ qtdOpinioes }} opinião encontrada </p>
                                {% else %}
                                <p> {{ qtdOpinioes }} opiniões encontradas </p>
                                {% endif%}
                            </div>
                        </div>
                        <div class="col-md-12">

                                <table class="table table-striped">
                                    <tbody>
                                    {% for opi in listaOpinioes%}

                                        <tr>
                                            <td>{{opi.opiniao}}</td>
                                        </tr>

                                    {%endfor%}
                                    </tbody>
                                </table>



                        </div>


                {% endif %}
            {% endif %}

            {% if exibir7 %}
                <div class="col-md-12">
                    <h3>WordCloud <!--para peso = {{pesoPalavras}}--></h3>
                    </br>
                </div>
                <div class="col-md-12">



                        {% for texto, value in peso_opinioes.items %}
                            {% if value.count >= peso_wordcloud %}
                            <span class="palavras" data-weight="{{value.count}}" data-text="{{value.word}}" hidden>{{value.word}}</span>
                            {% endif %}
                        {% endfor %}
                        <div id="wordcloudPrint" class="wordcloud"><div class="loader"></div></div>



                </div>
            {% endif %}


        </div>

        </br>
    </div>
    {% endif %}




</body>
{% endblock %}

{% block footer_imports %}
    {% if exibir7 %}
        <script src="{% static 'js/wordcloud/d3.js' %}"></script>
        <script src="{% static 'js/wordcloud/d3.layout.cloud.js' %}"></script>
        <script src="{% static 'js/wordcloud/d3.wordcloud.js' %}"></script>
        <script>
            $(document).ready(function(){
                var obj = [];
                $(".palavras").each(function() {
                    obj.push( { text: $(this).data('text').toString(), size: parseInt($(this).data('weight')) })

                });
                var o = d3.scale.ordinal()
                .domain([0,20])
                .range(["#08306b","#08519c","#2171b5","#4292c6","#6baed6"]);
                setTimeout(function(){
                    var tamanhoX = $('#wordcloudPrint').width()*0.95;
                    var tamanhoY = $(window).height()*0.6;
                    d3.wordcloud()
                    .size([tamanhoX,tamanhoY])
                    .font('Impact')
                    .selector('#wordcloudPrint')
                    .fill(o)
                    .words(obj)
                    .start();
                    $('.loader').remove();
                },1000);


            });
        </script>

    {% endif %}
{% endblock%}
