{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabelas.css' %}">
    <link rel="stylesheet" href="{% static 'css/toggleSwitch.css' %}">
    <!--<script type="text/javascript" src="{% static 'js/printEstatisticas.js' %}"> </script>-->
    <script type="text/javascript" src="{% static 'js/toggleSwitch.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/adicionaAdmEvento.js' %}"> </script>
    <!-- <script type="text/javascript" src="{% static 'js/conviteEmail.js' %}"> </script> -->
{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>


	<section id="portfolio" class="control_panel">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Evento</h2>
                    <hr class="star-light">
                    <h3>{{evento.sigla}}</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'control_panel' %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>
	<section>
        <div class="container">
            <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">

                <div class="col-md-12 col-sm-12">
                    <h1 style=""> {{evento.sigla}} &nbsp
                        <a href="editar/" style="padding-right: 0.2em;" title="Editar as informações do evento"><button style="font-size: 55%; margin-top: -1%;" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil" style="font-size: 90%"></span></button></a>
                        <a style="padding-right: 0.2em;" title="Excluir evento. Cuidado! todos os dados relacionados a esse evento serão excluidos!"><button style="font-size: 55%; margin-top: -1%;" class="btn btn-danger btn-xs" onclick="alterarModal({{quest.id}})" data-title="Deletar" data-toggle="modal" data-target="#deletar-modal" ><span class="glyphicon glyphicon-trash" style="font-size: 90%"></span></button></a>
                        <a style="padding-right: 0.2em;" href="relatorio/" title="Gerar informações sobre o evento"><button style="font-size: 55%; margin-top: -1%;" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-print" style="font-size: 90%"></span></button></a>
                        <a style="padding-right: 0.2em;" href="meueventoagora/" title="Acompanhar seu evento em tempo real"><button style="font-size: 55%; margin-top: -1%;" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-dashboard" style="font-size: 90%"></span> <p style="font-size: 80%;">Meu evento agora</p></button></a>
                    </h1>
                </div>

                <div class="col-md-8 col-sm-8">

                        <div class="d-inline">
                            <h3>Nome: </h3>
                            <p>{{evento.nome}}</p>
                            <br/><br/>
                        </div>

                    <div class="d-inline">
                        <h3>Início: </h3>
                        <p>{{evento.data_inicio|date:"j"}} {{ evento.data_inicio|date:"M" }} {{ evento.data_inicio|date:"Y" }} </p>
                        <h3>  Fim: </h3>
                        <p>{{evento.data_fim|date:"j"}} {{ evento.data_fim|date:"M" }} {{ evento.data_fim|date:"Y" }}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline">
                        <h3>Local Principal: </h3> <p>{{evento.local_principal}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline" style="text-align:justify;">
                        <h3>Descrição: </h3> <p>{{evento.informacoes_gerais}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline">
                        <table>
                            <td>
                                <h3>Publicado no App: </h3>
                            </td>
                            <td>
                                <label class="switch" style="margin-left: 15%; margin-top: 15%;" {% if evento.ativo %} title='Evento publicado no app' {% else %} title='Evento não está publicado no app' {% endif %}>
                                    <input type="checkbox" href="#" id="togglePublicar" data-toggle="modal" data-target="#publicar-modal" {% if evento.ativo %} checked {% endif %}>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </table>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="{{evento.urllogo}}" class="img-responsive">
                </div>

                <div class="col-md-12">
                    <br/>
                </div>

                <div class="col-md-6" >

                    <h1 style=""> Informações Úteis &nbsp
                        <a href="informacoes/" style="padding-right: 0.2em;" title="Editar as informações úteis do evento"><button style="font-size: 55%; margin-top: -1%;" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil" style="font-size: 90%"></span></button></a>
                    </h1>

                    <!-- <table style="margin-top: -3.5%;">
                        <td>
                            <div class="d-inline">
                            <h1>Informações Úteis</h1>
                            </div>
                        </td>
                        <td>
                            <div style="margin-top: 15%; margin-left: 30%;">
                            <a href="informacoes/" style="padding-right: 1em;" title="Editar as informações úteis do evento"><button style="font-size: 110%;" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a>
                            </div>
                        </td>
                    </table> -->


                    <div class="d-inline" style="margin-top: 5%;">
                        <h3>Site: </h3>
                        <p>{{informacoes.site}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline">
                        <h3>Email para contato: </h3>
                        <p>{{informacoes.email}}</p>
                        <br/><br/>
                    </div>
                    <div class="d-inline">
                        <h3>Telefone para contato: </h3>
                        <p>{{informacoes.telefone}}</p>
                        <br/><br/>
                    </div>

                </div>

                <div class="col-md-6">
                    <div id="estatisticas" class="tab-pane fade in active" style="margin-top: 0%;">
                        <table style="width: 80%;" id="menu1" class="tablePersonalizada">
                            <tr>
                                <th colspan="4"><div style="text-align: center"><p><font size=4>ESTATÍSTICAS</font></p></div></th>
                            </tr>
                            <tr>
                                <td colspan="3"><div ><p>Administradores cadastrados no evento:</p></div></td>
                                <td><div style="text-align: center"><p>{{numUsuarios}}</p></div></td>
                            </tr>
                            <tr>
                                <td colspan="3"><div ><p>Participantes cadastrados no evento:</p></div></td>
                                <td><div style="text-align: center"><p>{{numParticipantes}}</p></div></td>
                            </tr>
                            <tr>
                                <td colspan="3"><div ><p>Número de atividades cadastradas:</p></div></td>
                                <td><div style="text-align: center"><p>{{numAtividades}}</p></div></td>
                            </tr>
                            <tr>
                                <td colspan="3"><div ><p>Número de questionários cadastrados:</p></div></td>
                                <td><div style="text-align: center"><p>{{numQuestionarios}}</p></div></td>
                            </tr>
                            <tr>
                                <td colspan="3"><div ><p>Número de patrocinadores cadastrados:</p></div></td>
                                <td><div style="text-align: center"><p>{{numPatrocinadores}}</p></div></td>
                            </tr>
                            <tr>
                                <td colspan="3"><div ><p>Número de notícias cadastradas:</p></div></td>
                                <td><div style="text-align: center"><p>{{numNoticias}}</p></div></td>
                            </tr>
                        </table>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
					<h1> Ações </h1>
                </div>
                {% if user.id in evento_usuario_lista_ids %}

				<div class="col-sm-4 portfolio-item">
                    <a href="atividade/" class="btn btn-primary a-btn-slide-text btn-lg btn-block" title="Ver a lista de atividades ou adicionar novas atividades">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        <span>Lista de atividades</span>
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="patrocinadores/"  class="btn btn-primary a-btn-slide-text btn-lg btn-block" title="Inserir ou ver os patrocinadores deste evento">
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        <span>Patrocinadores</span>
                    </a>
                </div>
                {% endif %}

                <div class="col-sm-4 portfolio-item">
                    <a href="noticias/"  class="btn btn-primary a-btn-slide-text btn-lg btn-block" title="Enviar notícias do evento">
                        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                        <span>Notícias</span>
                    </a>
                </div>

			</div>
		</div>
    </section>

    <section id="portfolio">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
					<h1> Feedback</h1>
				</div>
                <div class="col-sm-4 portfolio-item">
                    <a href="questionarios/" class="btn btn-primary a-btn-slide-text btn-lg btn-block" title="Inserir ou ver os questionários do evento">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        <span>Ver/Inserir questionários</span>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="opinioes/" class="btn btn-primary a-btn-slide-text btn-lg btn-block" title="Ver as opiniões do evento">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span>Ver opiniões</span>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="notas/" class="btn btn-primary a-btn-slide-text btn-lg btn-block" title="Ver as notas das atividades do evento">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span>Ver notas atividades</span>
                    </a>
                </div>

			</div>
		</div>
	</section>

    <section id="portfolio">
        <div class="container" style="padding-top: -20px;">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
                <div class="col-md-12">
					<h1> Administradores <a style="font-size:25px" href="#" data-toggle="modal" data-target="#adicionar-modal" title="Adicionar mais pessoas para gerenciar este evento"><span class="fa fa-plus-circle"></span>Adicionar administrador</a> </h1>
                </div>
				<div class="col-md-12 col-xs-12 col-lg-12">
                    <table class="table table-striped">
                        <tbody>
                        {% for usuario in listaUsuario %}
                            <tr>
                                <td>{{usuario.email}}</td>
                                <td style="text-align: right; padding-right: 1.5em;">
                                    {% if request.user.id != usuario.id %}
                                    <a title="Deletar"><button class="btn btn-danger btn-xs" onclick="alterarModal({{usuario.id}})" data-title="Deletar" data-toggle="modal" data-target="#deletar-usuario-modal" ><span class="glyphicon glyphicon-trash"></span></button></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
			</div>
		</div>
    </section>

    <div class="modal fade" id="publicar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" data-backdrop="static">
        <div class="modal-dialog">
            <div class="loginmodal-container" style="max-width: 400px; text-align: justify">
                <button type="button" class="close" onclick="modificaEstado({{evento.ativo}})" data-dismiss="modal">&times;</button>
                {% if evento.ativo == 0 %}
                    <h1>Você tem certeza que deseja publicar este evento no aplicativo?</h1>
                    <p>Ao clicar no botão abaixo, seu evento será publicado no aplicativo e irá aparecer na lista como um evento disponível para o usuário se inscrever.</p>
                {% else %}
                    <h1>Você tem certeza que deseja despublicar este evento do aplicativo?</h1>
                    <p>Ao clicar no botão abaixo, seu evento será despublicado do aplicativo e será removido da lista de eventos disponíveis para o usuário se inscrever.</p>
                {% endif %}
                <br/><br/>
		        <form action="{% url 'publicar_evento' id_evento=evento.id %}" method="post">
                    {% csrf_token %}
				    <input type="submit" name="login" class="login loginmodal-submit" value="Confirmar">
                </form>
				</div>
          </div>
    </div>

    <div class="modal fade" id="deletar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1>Você tem certeza que deseja deletar este evento?</h1> </br>
		        <form action="{% url 'deletar_evento' id_evento=evento.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="login loginmodal-submit" data-dismiss="modal" style="background-color: #d9534f;" value="Cancelar" autofocus />
                    <input type="submit" name="login" class="login loginmodal-submit" value="Confirmar">
                </form>
				</div>
          </div>
    </div>

    <div class="modal fade" id="adicionar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1>Digite o e-mail, cadastrado no sistema, do usuário que deseja adicionar</h1> </br>
		        <form action="{% url 'adicionar_usuario' id_evento=evento.id %}" method="post" role="form" data-toggle="validator">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" required>
    				    <div class="help-block with-errors"></div>
                    </div>
                     <input type="submit" name="login" class="login loginmodal-submit" value="Confirmar">
                </form>
			</div>
        </div>
    </div>

    <script>
        function alterarModal(idUsuario){
            document.getElementsByName("form-modal")[0].setAttribute("action", "" + idUsuario + "/deletar/");

        }
    </script>

    <div class="modal fade" id="deletar-usuario-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1>Você tem certeza que deseja remover este administrador?</h1> </br>
                <form name="form-modal" action="" method="post">
                    {% csrf_token %}
                    <input type="submit" name="login" class="login loginmodal-submit" value="Confirmar">
                </form>
                </div>
            </div>
    </div>

    {% if usuario_administrador %}
    <div class="modal fade" id="adiciona-adm-evento-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
             <div class="loginmodal-container">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 {%if sucesso_adm %}
                    <h1>Administrador cadastrado com sucesso! </h1><br>
                    <p>Este usuário agora poderá fazer modificações neste evento!</p>
                 {% elif adm_ja_cadastrado %}
                    <h1>Usuário já cadastrado! </h1><br>
                    <p>Este usuário já é um administrador do evento!</p>
                 {% else %}
                    <h1>Erro ao cadastrar administrador!</h1><br>
                    <p> Este usuário não está cadastrado no nosso sistema. </p>
                    <p> Confira se você digitou o e-mail corretamente.
                    <p> Caso queira convidá-lo, digite esse mesmo endereço de e-mail</p> <br/> <br/>
    		        <form action="{% url 'convidar_usuario' id_evento=evento.id id_adm=user.id %}" method="post" role="form" data-toggle="validator">
                     {% csrf_token %}
                     <div class="form-group">
                         <input type="email" name="email" placeholder="Email" required>
     				    <div class="help-block with-errors"></div>
                     </div>
                      <input type="submit" name="login" class="login loginmodal-submit" value="Confirmar">
                 </form>
                 {% endif %}
    		 </div>
        </div>
    </div>
    {% endif %}

    {% if sucessoConvite %}
    <div class="modal fade" id="convite-email-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>Convite enviado com sucesso!</h1><br>
                    <p>Um e-mail foi enviado contendo as informações para cadastro no sistema.</p>
                    <br/>
				</div>
          </div>
    </div>
    {% endif %}

    {% if sucessoConvite %}
        <script src="{%static 'js/conviteEmail.js'%}"></script>
    {% endif %}

    {% if usuario_administrador %}
        <script src="{%static 'js/adicionaAdmEvento.js'%}"></script>
    {% endif %}

    {% if deleta_adm %}
    <div class="modal fade" id="remove-adm-evento-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
		      <div class="loginmodal-container">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  {%if adm_removido %}
                     <h1>Administrador removido com sucesso! </h1><br>
                     <p>Agora este usuário não poderá fazer modificações mais neste evento!</p>
                  {% else %}
                     <h1>Erro ao remover administrador! </h1><br>
                     <p> Portanto, este usuário ainda é um administrador! </p>
                  {% endif %}
			 </div>
          </div>
    </div>
    {% endif %}

    {% if deleta_adm %}
        <script src="{%static 'js/adicionaAdmEvento.js'%}"></script>
    {% endif %}

</body>
{% endblock %}
