{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/formsDetalhes.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
    <script>
        $(function(){
            // Find any date inputs and override their functionality
            $("#datainicio").datepicker({
                format: "yyyy-mm-dd",
            });
            var dataIn = "{{ evento.data_inicio|date:'Y-m-d'}}";
            $("#datafim").datepicker({
                format: "yyyy-mm-dd",
                startDate: dataIn
            });
        });
    </script>

    <script src="{% static 'js/jquery.mask.min.js' %}"></script>

{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    {%if cadastro_completo %}
    <div class="modal fade" id="cadastro-evento-complete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if sucesso %}
                        <h1>Edição concluída! </h1><br>
                        <p>Informações editadas com sucesso.</p>
                        <br/>
                        <br/>
                        <input type="submit" onclick="window.location.href='../'" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Voltar ao Painel do Evento">
                    {% else %}
                        <h1>Erro ao editar evento</h1><br>
                        <p>Ocorreu um erro ao editar as informações. Certifique-se de que preencheu corretamente todos os campos.</p>
                        <br/>
                        <p>Erro: {{erro}}</p>
                        <br/>
                        <br/>
                        <input type="submit" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Ok">
                    {% endif %}
				</div>
          </div>
    </div>
    {% endif %}
	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Informações Úteis</h2>
                    <hr class="star-light">
                    <h3>{{evento.sigla}}</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'detalhe_evento' id_evento=evento.id %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>
	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Editar Evento</h1>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                    <form action="#" method="post" role="form">
                        <p> Por favor, insira os dados das informações úteis de seu evento, esses dados serão exibidos na página de informações úteis do seu evento no aplicativo.</p>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class='control-label' for="site">Site</label>
                            <input type="text" value="{{informacoes.site}}" class="form-control" name="site" id="site" placeholder="Site" maxlength="200">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="text" value="{{informacoes.email}}" class="form-control" name="email" id="email" placeholder="E-mail para contato" maxlength="80">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input type="text" value="{{informacoes.telefone}}" class="form-control" name="telefone" id="telefone" placeholder="Telefone para contato" maxlength="20">                        
                        </div>
                        <div class="form-group">
                            <!--<input type="submit" name="login" class="login loginmodal-submit" value="Cadastrar">-->
                            <button type="submit" id="botao_register" class="btn login loginmodal-submit">Editar</button>
                        </div>
                        
                    </form>
				</div>
			</div>
		</div>
	</section>


</body>
{% endblock %}

{% block footer_imports %}
    {% if cadastro_completo %}
        {% if sucesso %}
            <script src="{%static 'js/editaEventoCompleto.js'%}"></script>
        {% else %}
            <script src="{%static 'js/editaEventoCompletoErro.js'%}"></script>
        {% endif%}
        
    {% endif %}

    <script>
        $(document).ready(function() {
            $('#datainicio').datepicker().on('changeDate', function(ev) {
                var date2 = $(this).val()
                $("#datafim").val(''); 
                $("#datafim").datepicker("destroy");
                $("#datafim").datepicker({
                    format: "yyyy-mm-dd",
                    startDate: date2
                });
            });

            $('#telefone').mask('(00) 0000-00000');
            $('#email').mask("A", {
                translation: {
                    "A": { pattern: /[\w@\-.+]/, recursive: true }
                }
            });
          });
    </script>

{% endblock %}
