{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/formsDetalhes.css' %}">
    <link rel="stylesheet" href="{% static 'css/radioButton.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
    <script>
        $(function(){
            // Find any date inputs and override their functionality
            $("#datainicio").datepicker({
                format: "yyyy-mm-dd",
            });
            var dataIn = "{{ evento.data_inicio|date:'Y-m-d'}}";
            $("#datafim").datepicker({
                format: "yyyy-mm-dd",
                startDate: dataIn
            });
        });
    </script>

{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    {%if cadastro_completo %}
    <div class="modal fade" id="cadastro-evento-complete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if sucesso %}
                        <h1>Edição concluída! </h1><br>
                        <p style="text-align: justify; float:right" >Evento editado com sucesso.</p>
                        <br/>
                        <br/>
                        <input type="submit" onclick="window.location.href='../'" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Voltar ao Painel do Evento">
                    {% else %}
                        <h1>Erro ao editar evento</h1><br>
                        <p style="text-align: justify; float:right" >Ocorreu um erro ao editar o evento. Certifique-se de que preencheu corretamente todos os campos.</p>
                        <br/>
                        <br/>
                        <input type="submit" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Ok">
                    {% endif %}
				</div>
          </div>
    </div>
    {% endif %}
	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Painel de controle</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% if request.GET.previous == "painel" %}{% url 'control_panel' %}{% else %}{% url 'detalhe_evento' id_evento=evento.id %}{% endif %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>

	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Editar Evento</h1>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                    <form action="#" method="post" role="form" data-toggle="validator">
                        <p> Por favor, insira os dados de seu evento, esses dados serão exibidos na página de eventos do aplicativo.</p>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class='control-label' for="sigla">Sigla <span style="color:red">*</span></label>
                            <input type="text" value="{{evento.sigla}}" class="form-control" name="sigla" id="sigla" placeholder="Sigla" maxlength="20" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="nome">Nome do evento <span style="color:red">*</span></label>
                            <input type="text" value="{{evento.nome}}" class="form-control" name="nome" id="nome" placeholder="Nome" maxlength="100" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="descricao">Descrição</label>
                            <textarea type="text" rows="5" class="form-control" name="descricao"  maxlength="5000" id="descricao" placeholder="Informações gerais do evento">{{evento.informacoes_gerais}}</textarea>
                        </div>
                        <div class="row">
                        <div class="form-group col-md-4 col-sm-4">
                            <label for="datainicio">Data início <span style="color:red">*</span></label>
                            <input type="date" value="{{ evento.data_inicio|slugify}}" class="form-control" name="datainicio" id="datainicio" placeholder="https://s11.postimg.org/vt3l7nhtf/logo_inovar.png" data-match-error="Preencha este campo" required >
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            <label for="datafim">Data fim <span style="color:red">*</span></label>
                            <input type="date" value="{{ evento.data_fim|slugify}}" class="form-control" name="datafim" id="datafim" placeholder="https://s11.postimg.org/vt3l7nhtf/logo_inovar.png" data-match-error="Preencha este campo" required>
                        </div>
                        <div class="col-md-4 col-sm-4"></div>
                        </div>

                        <div class="form-group">
                            <label for="local_principal">Local do evento</label>
                            <input type="text" value="{{evento.local_principal}}" class="form-control" name="local_principal" maxlength="140" id="local_principal" placeholder="Rua, Número, Local, Cep, Cidade, ... ">
                        </div>

                        <div class="form-group">
                            <label for="urlLogo">URL da logo</label>
                            <input type="text" value="{{evento.urllogo}}" class="form-control" maxlength="400" name="urlLogo" id="urlLogo" placeholder="https://s11.postimg.org/vt3l7nhtf/logo_inovar.png">
                        </div>
                        <div class="form-group">
                            <fieldset id="privacidade">
                                <label for="privacidade"> Privacidade <span style="color:red">*</span></label>
                                <br/>
                                <label class="container_radioButton">Permitir que os administradores visualizem os dados do evento
                                    <input type="radio" "{% if evento.privacidade == 0 %} checked {% endif%}" name="privacidade" value="0">
                                    <span class="checkmarkRadioButton"></span>
                                </label>
                                <label class="container_radioButton">Permitir que os administradores visualizem e façam modificações no evento
                                    <input type="radio" "{% if evento.privacidade == 1 %} checked {% endif%}" name="privacidade" value="1">
                                    <span class="checkmarkRadioButton"></span>
                                </label>
                                <label class="container_radioButton">Permitir que os administradores vejam apenas a descrição do evento
                                    <input type="radio" "{% if evento.privacidade == 2 %} checked {% endif%}" name="privacidade" value="2">
                                    <span class="checkmarkRadioButton"></span>
                                </label>
                                <label class="container_radioButton">Ocultar informações públicas para os administradores
                                    <input type="radio" "{% if evento.privacidade == 3 %} checked {% endif%}" name="privacidade" value="3">
                                    <span class="checkmarkRadioButton"></span>
                                </label>
                                <label class="container_radioButton">Ocultar evento para os administradores
                                        <input type="radio" "{% if evento.privacidade == 4 %} checked {% endif%}" name="privacidade" value="4">
                                        <span class="checkmarkRadioButton"></span>
                                </label>
                            </fieldset>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <!--<input type="submit" name="login" class="login loginmodal-submit" value="Cadastrar">-->
                            <button type="submit" id="botao_register" class="btn login loginmodal-submit">Editar</button>
                        </div>
                        <script>
                            document.getElementsByName("datainicio")[0].addEventListener('change', resetaData);

                            /* function */
                            function resetaData(){
                               document.getElementsByName("datafim")[0].value = "";
                               document.getElementsByName("datafim")[0].setAttribute("min", this.value);
                            }
                        </script>


                        <!--div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out
                            </label>
                        </div>-->
                    </form>
				</div>
			</div>
		</div>
	</section>


</body>
{% endblock %}

{% block footer_imports %}
    {% if cadastro_completo %}
        {% if sucesso %}
            <script src="{%static 'js/editaEventoCompleto.js'%}"></script>
        {% else %}
        <script src="{%static 'js/editaEventoCompletoErro.js'%}"></script>
        {% endif%}
    {% endif %}

    <script>
            $(document).ready(function() {
                $('#datainicio').datepicker().on('changeDate', function(ev) {
                    var date2 = $(this).val()
                    $("#datafim").val('');
                    $("#datafim").datepicker("destroy");
                    $("#datafim").datepicker({
                        format: "yyyy-mm-dd",
                        startDate: date2
                    });
                });
              });
    </script>
{% endblock %}
