{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <!-- <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/formsDetalhes.css' %}">

{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    {%if cadastro_completo %}
    <div class="modal fade" id="cadastro-evento-complete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if sucesso %}
                        <h1>Edição concluída! </h1><br>
                        <p>Perfil alterado com sucesso.</p>
                        <br/>
                        <br/>
                        <input type="submit" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Voltar ao perfil">
                    {% else %}
                        <h1>Erro ao atualizar informações</h1><br>
                        <p>{{ erro }}</p>
                        <br/>
                        <br/>
                        <input type="submit"  name="login" class="login loginmodal-submit" data-dismiss="modal" value="Tentar novamente">
                    {% endif %}
				</div>
          </div>
    </div>
    {% endif %}
	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Perfil do usuário</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <a href="{% url 'perfil' %}">
                <h3>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span>Voltar</span>
                </h3>
            </a>
        </div>
    </div>
	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Editar perfil</h1>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                    <form action="#" method="post" role="form" data-toggle="validator">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class='control-label' for="sigla">Nome <span style="color:red">*</span></label>
                            <input type="text" class="form-control" value = "{{ user.first_name }}" name="nome" id="nome" maxlength="20" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <!--<div class="form-group">
                            <label class='control-label' for="sigla">Username <span style="color:red">*</span></label>
                            <input type="text" class="form-control" value = "{{ user.username }}" name="username" id="username" maxlength="20" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>-->
                        <div class="form-group">
                            <label for="nome"> E-mail <span style="color:red">*</span></label>
                            <input type="email" class="form-control" name="email" id="email" value= "{{user.email}}"maxlength="100" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <!--<input type="submit" name="login" class="login loginmodal-submit" value="Cadastrar">-->
                            <button type="submit" id="botao_register" class="btn login loginmodal-submit">Redefinir</button>
                        </div>
                    </form>
				</div>
			</div>
		</div>
	</section>


</body>
{% endblock %}

{% block footer_imports %}
    {% if cadastro_completo %}
    <script>
            $(document).ready(function () {
                //your code here
            $(window).on('load', function () {
                setTimeout(function() {
                        //your code to be executed after 200 msecond
                        $('#cadastro-evento-complete-modal').modal({
                            backdrop: 'true'//to disable click close
                        })
                        $('body').css('overflow-y','visible');
                    }, 400);
                    $('body').css('overflow-y','visible');
            })
            
            $("#cadastro-evento-complete-modal").on('hidden.bs.modal', function () {
                $('body').css('overflow-y','');
                {% if sucesso %} 
                    window.location.href="{% url 'perfil' %}";  // Não funciona!
                {% else %}
                    window.location.href="{% url 'editarPerfil' %}";
                {% endif %}
                //document.body.removeAttribute("style");
            })
            
            });
    </script>
    {% endif %}

{% endblock %}
