{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
{% endblock %}

{% block content %}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

	<section id="portfolio" class="control_panel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Perfil do usuário</h2>
                <hr class="star-light">
            </div>
        </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
        <div class="col-md-12">
          <h1> Dados do usuário</h1>
          </div>
            <div class="col-md-12 col-sm-12 indent">
              <div>
                <h4> Nome: {{ user.first_name }} </h4>
              </div>
              <div>
                <h4> Username: {{ user.username }} </h4>
              </div>
              <div>
                <h4> Email: {{ user.email }} </h4>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>  

  <section>
    <div class="container">
      <div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
        <div class="col-md-12">
          <h1><a style="font-size:25px" href="{% url 'editarPerfil' %}"><span class="fa fa-plus-circle"></span> Editar perfil</a> </h1>
        </div>
        <div class="col-md-12">
          <h1><a style="font-size:25px" href="{% url 'trocarSenha' %}"><span class="fa fa-plus-circle"></span> Redefinir senha</a> </h1>
        </div>
      </div>
    </div>
  </section>


</body>
{% endblock %}
