{% extends 'header.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/listaEventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/formsDetalhes.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>

{% endblock %}

{% block content %}

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    {% if tokenInvalidoInicializacao %}
    <div class="modal fade" id="tokenInvalido-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1>Token expirado!</h1><br>
                <p> {{ erro }}</p>
                <br/>
                <br/>
                <input type="submit" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Sair">
            </div>
        </div>
    </div>
    {% endif %}

    {%if cadastro_completo %}
    <div class="modal fade" id="cadastro-evento-complete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
                {% if sucesso %}
                    <h1>Bem vindo de volta! </h1><br>
                    <p> Sua senha foi alterada com sucesso!</p>
                    <br/>
                    <br/>
                    <input type="submit" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Voltar ao perfil">
                {% else %}
                    <h1>Erro!</h1><br>
                    <p>{{ erro }}</p>
                    <br/>
                    <br/>
                    <input type="submit"  name="login" class="login loginmodal-submit" data-dismiss="modal" value="Tentar novamente">
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

	<section id="portfolio" class="control_panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Recuperação de senha</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </section>

	<section>
		<div class="container">
			<div class="row" style=" box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);">
				<div class="col-md-12">
					<h1> Redefinir a senha</h1>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                    <form action="" method="post" role="form" data-toggle="validator">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="nome">Digite sua nova senha <span style="color:red">*</span></label>
                            <input type="password" class="form-control" name="n_senha" id="n_senha" placeholder="Nova senha" maxlength="100" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="nome">Confirme a nova senha <span style="color:red">*</span></label>
                            <input type="password" class="form-control" name="c_senha" id="c_senha" placeholder="Confirme a nova senha" maxlength="100" data-match-error="Preencha este campo" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <!--<input type="hidden" id="tokenAux" name="tokenAux" value="<?=$request.GET['token']?>"> forms.HiddenInput() -->
                        <div class="form-group">
                            <!--<input type="submit" name="login" class="login loginmodal-submit" value="Cadastrar">-->
                            <button type="submit" id="botao_register" class="btn login loginmodal-submit">Redefinir</button>
                        </div>
                    </form>
				</div>
			</div>
		</div>
	</section>


</body>
{% endblock %}

{% block footer_imports %}

    {% if tokenInvalidoInicializacao %}
    <script>
        //window.location.href="{% url 'perfil' %}";  // Não funciona!
        $(document).ready(function () {
                //your code here
            $(window).on('load', function () {
                setTimeout(function() {
                        //your code to be executed after 200 msecond
                        $('#tokenInvalido-modal').modal({
                            backdrop: 'true'//to disable click close
                        })
                        $('body').css('overflow-y','visible');
                    }, 400);
                    $('body').css('overflow-y','visible');
            })

            $("#tokenInvalido-modal").on('hidden.bs.modal', function () {
                $('body').css('overflow-y','');

                window.location.href="{% url 'home' %}";
            })


        });



    </script>
    {% endif %}

    {% if cadastro_completo %}
    <script>
            $(document).ready(function () {
                //your code here
            $(window).on('load', function () {
                setTimeout(function() {
                        //your code to be executed after 200 msecond
                        $('#cadastro-evento-complete-modal').modal({
                            backdrop: 'true'//to disable click close
                        })
                        $('body').css('overflow-y','visible');
                    }, 400);
                    $('body').css('overflow-y','visible');
            })

            $("#cadastro-evento-complete-modal").on('hidden.bs.modal', function () {
                $('body').css('overflow-y','');

                /*
                {% if tokenInvalido %}
                    //window.location.href="{% url 'perfil' %}";  // Não funciona!
                    window.location.href="{% url 'home' %}";
                {% endif %} */

                {% if sucesso %}
                    //window.location.href="{% url 'perfil' %}";  // Não funciona!
                    window.location.href="/control/";
                {% else %}
                    //window.location.href="{% url 'trocarSenha' %}";
                    //windows.location.href="";
                {% endif %}
                //document.body.removeAttribute("style");
            })

            });
    </script>
    {% endif %}

{% endblock %}
